@page
@model IndexModel

@section Styles {
    <partial name="_DataTableStyles" />
}
@{
    ViewData["Title"] = Localizer["Data Upload Column List"];
    ViewData["ActiveMainPage"] = "DataUploadColumn";
    ViewData["Level1"] = "ODMS";
	IEnumerable<dynamic> breadCrumbs = [new { Title = "Data Upload Column List", Url = "", IsActive = true }];
}
<partial name="_BreadcrumbPartial" model=@(breadCrumbs) />
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <table id="dataUploadColumn" class="table table-hover table-bordered table-striped responsive nowrap fills-table" width="100%">
                    <thead>
                        <tr>
                            <th>
								@Localizer["Data Upload Batch"]
							</th>
							<th>
								@Localizer["Detected Column Name"]
							</th>
							<th>
								@Localizer["Auto-Detected Data Type"]
							</th>
							<th>
								@Localizer["Sql Data Type Used In Staging Table"]
							</th>
							<th>
								@Localizer["Column Order In File"]
							</th>
							<th>
								@Localizer["First Non-Blank Sample Value"]
							</th>
							  
							
                            <th>
                                @Localizer["Actions"]
                            </th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>


<div id="BatchUploadPartialContainer">
    <partial name="_BatchUpload" model="Model.BatchUpload" />
</div>
@section Scripts {
    <partial name="_DataTableScripts" />
    <script asp-add-nonce>
        $(document).ready(function () {
            var table = $('#dataUploadColumn').DataTable({
                select: false,
                serverSide: true,
                responsive: true,
                order: [[6, 'desc']],
                dom: '@Html.Raw(FBSC.ODMS.Web.WebConstants.DataTableDOMLayOut)',
                ajax:
                {
                    url: '@Url.Page("/DataUploadColumn/Index", new { area = "ODMS", handler = "ListAll" })',
                    type: "POST",
                    headers: {
                        RequestVerificationToken:
                            $('input:hidden[name="__RequestVerificationToken"]').val()
                    },
                },
                initComplete: function (settings, json) {
                    BindTableRowCollapseEvent();
                },
                columns: [
                    { data: "dataUploadBatchId", name: "DataUploadBatchId", responsivePriority: 1, title: '@Localizer["Data Upload Batch"]', searchable: false, className: "text-start" },
				{ data: "columnName", name: "ColumnName", responsivePriority: 1, title: '@Localizer["Detected Column Name"]', searchable: true, className: "text-start" },
				{ data: "detectedDataType", name: "DetectedDataType", responsivePriority: 1, title: '@Localizer["Auto-Detected Data Type"]', searchable: false, className: "text-start" },
				{ data: "mappedSqlDataType", name: "MappedSqlDataType", responsivePriority: 2, title: '@Localizer["Sql Data Type Used In Staging Table"]', searchable: false, className: "text-start" },
				{ data: "ordinalPositionFormatted", name: "OrdinalPosition", responsivePriority: 2, title: '@Localizer["Column Order In File"]', searchable: false, className: "fills-text-end" },
				{ data: "sampleValue", name: "SampleValue", responsivePriority: 2, title: '@Localizer["First Non-Blank Sample Value"]', searchable: false, className: "text-start" },
				   
					
                    {
                        data: null,
                        searchable: false,
                        orderable: false,
                        responsivePriority: 1,
                        width: "10%",
                        className: "fills-text-center",
                        render: function (data, type, row, meta) {
                            var url = '@Url.Page("/DataUploadColumn/Details", new { area = "ODMS" })' + '?id=' + row.id;
							var button = '<a href="' + url + '" class="btn btnFills btn-outline-success btnInfoIcon btnViewDataUploadColumn" title="@Localizer["View"]"></a>';
						@if ((await AuthorizationService.AuthorizeAsync(User, Permission.DataUploadColumn.Edit)).Succeeded)
						{
							<text>
											url = '@Url.Page("/DataUploadColumn/Edit", new { area = "ODMS" })' + '?id=' + row.id;
											button = button + '&nbsp;<a href="' + url + '" class="btn btnFills btn-outline-primary btnEditIcon btnEditDataUploadColumn" title="@Localizer["Edit"]"></a>';
							</text>
						}
						@if ((await AuthorizationService.AuthorizeAsync(User, Permission.DataUploadColumn.Delete)).Succeeded)
						{
							<text>
											url = '@Url.Page("/DataUploadColumn/Delete", new { area = "ODMS" })' + '?id=' + row.id;
												button = button + '&nbsp;<a href="' + url + '" class="btn btnFills btn-outline-danger btnDeleteIcon btnDeleteDataUploadColumn" title="@Localizer["Delete"]"></a>';
							</text>
						}
						
						@if ((await AuthorizationService.AuthorizeAsync(User, Permission.DataUploadColumn.History)).Succeeded)
						{
							<text>
											url = '@Url.Page("/DataUploadColumn/History", new { area = "ODMS" })' + '?id=' + row.id;
											button = button + '&nbsp;<a href="' + url + '" class="btn btnFills btn-outline-primary btnHistoryIcon" title="@Localizer["History"]"></a>';
							</text>
						}
							return button;
                        },
                    },
                    { data: "lastModifiedDate", name: "LastModifiedDate", title: '@Localizer["Last Modified Date"]', visible: false, searchable: false },
                    { data: "id", name: "Id", visible: false },
                ],
                buttons: [
        @* Add Button *@
        @if ((await AuthorizationService.AuthorizeAsync(User, Permission.DataUploadColumn.Create)).Succeeded)
        {
            <text>
                    {
                        text: '<i class="fas fa-plus"></i>',
                        className: 'btn btn-success btnAddDataUploadColumn text-light',
                        titleAttr: '@Localizer["Add"]',
                        action: function (e, dt, node, config) {
                            window.location.href = '@Url.Page("/DataUploadColumn/Add", new { area = "ODMS" })';
                        }
                    },
            </text>
        }

        @* Download Template Button *@
        @if ((await AuthorizationService.AuthorizeAsync(User, Permission.DataUploadColumn.Upload)).Succeeded)
        {
            <text>
                    {
                        text: '<i class="fas fa-download"></i>',
                        className: 'btn btn-primary',
                        titleAttr: '@Localizer["Download Template"]',
                        action: function (e, dt, node, config) {
                            $('#download-template-form').submit();
                        }
                    },
            </text>
        }

        @* Upload Button *@
        @if ((await AuthorizationService.AuthorizeAsync(User, Permission.DataUploadColumn.Upload)).Succeeded)
        {
            <text>
                    {
                        text: '<i class="fas fa-upload"></i>',
                        className: 'btn btn-primary',
                        titleAttr: '@Localizer["Upload"]',
                        action: function (e, dt, node, config) {
                            $('#btnBatchUpload').click();
                        }
                    },
            </text>
        }

        @* Page Length Button *@
            {
                extend: 'pageLength',
                className: 'btn btn-primary',
                titleAttr: '@Localizer["Rows per page"]'
            }
        ],
            });
            var debounce = new $.fn.dataTable.Debounce(table); // Add delay to search

            $('.btn-table_filter').on('click', function (e) {
                table.ajax.reload(null, false);
            });
            function BindTableRowCollapseEvent() {
                $('#dataUploadColumn tbody').on('click', 'td.dtr-control', function () {
                    $.showAjaxLoaderOnClick([".btnAddDataUploadColumn", ".btnEditDataUploadColumn", ".btnViewDataUploadColumn", ".btnDeleteDataUploadColumn"]);
                });
            }
            $.showAjaxLoaderOnClick([".btnAddDataUploadColumn", ".btnEditDataUploadColumn", ".btnViewDataUploadColumn", ".btnDeleteDataUploadColumn"]);
            $.InitializeSearchKeyCookies(table);
            $('#btnBatchUpload').on('change', function (e) {
                $('#batch-upload-form').submit();
            });           
        @if (!string.IsNullOrEmpty(Model.BatchUpload.BatchUploadFileName))
        {
            <text>
                    $('#btnDownloadBatchUploadTemplateLink')[0].click();
            </text>
        }
        });
    </script>
}