@page
@model AddModel
@{
    ViewData["Title"] = Localizer["Add Approval Setup"];
    ViewData["ActiveMainPage"] = "Approval";
    ViewData["Level1"] = "Admin";
    var breadcrumbs = new[] {
        new { Title = "Approval Setup List", Url = "/ODMS/ApproverSetup", IsActive = false },
        new { Title = "Add Approval Setup", Url = "", IsActive = true },
    };
}
<partial name="_BreadcrumbPartial" model=@(breadcrumbs) />
<partial name="_RichTextEditorStyles" />
<form id="approverSetup-form" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="@Model.RemoveSubDetailId" />
    <input type="hidden" asp-for="@Model.MoveUpDownId" />
    <input type="hidden" asp-for="@Model.AsyncAction" />
    <input type="hidden" asp-for="@Model.ApproverSetup.SelectedApprovers" name="SelectedApprovers" id="SelectedApprovers" />
    <div id="PartialLoaderContainer">
        <partial name="_InputFieldsPartial" model="Model.ApproverSetup" />
    </div>
    <div id="toolbar-container" class="btn-group" role="group">
		<a asp-page="Index" id="btnCancelConfirmationModal" class="btn btnFills btn-outline-secondary btnBackIcon" aria-label="@Localizer["Back"]" title="@Localizer["Back"]"></a>
        <button type="button" id="btnConfirmationModal" class="btn btnFills btn-outline-success btnSaveIcon" aria-label="@Localizer["Save changes"]" title="@Localizer["Save changes"]"></button>
    </div>
</form>

@section Scripts {
    <partial name="_RichTextEditorScripts" />
    <partial name="_ValidationScriptsPartial" />
    <partial name="_ApproverAssignmentListValidationPartial" model="@Model.ApproverSetup" />
    <script asp-add-nonce>
        $(document).ready(function () {
			$.bindSaveConfirmationModal('Save', '#btnConfirmationModal', '#approverSetup-form');
			$.bindCancelConfirmationModal('Cancel', '#btnCancelConfirmationModal', '#approverSetup-form', 'Do you want to cancel the changes?');
            function InitializeForm() {
                $.InitializeApproverAssignmentFieldValidations($('#ApproverAssignmentCount').val());
                $('.RemoveApproverAssignmentButton ').on('click', function () {
                    $('#RemoveSubDetailId').val($(this).attr('removeid'));
                    $('#AsyncAction').val('RemoveApproverAssignment');
                    $.triggerPageForm('ChangeFormValue', '#PartialLoaderContainer', '#approverSetup-form', InitializeForm);
                });

                $('#btnAddApproverAssignment').on('click', function () {
                    $('#AsyncAction').val('AddApproverAssignment');
                    $.triggerPageForm('ChangeFormValue', '#PartialLoaderContainer', '#approverSetup-form', InitializeForm);
                });
                $('.MoveUpApproverAssignmentButton ').on('click', function () {
                    $('#MoveUpDownId').val($(this).attr('moveUpId'));
                    $('#AsyncAction').val('MoveUpApproverAssignment');
                    $.triggerPageForm('ChangeFormValue', '#PartialLoaderContainer', '#approverSetup-form', InitializeForm);
                });
                $('.MoveDownApproverAssignmentButton ').on('click', function () {
                    $('#MoveUpDownId').val($(this).attr('moveDownId'));
                    $('#AsyncAction').val('MoveDownApproverAssignment');
                    $.triggerPageForm('ChangeFormValue', '#PartialLoaderContainer', '#approverSetup-form', InitializeForm);
                });
                $('.SelectApproverDropdown, .SelectApproverTypeDropdown').on('change', function () {
                    $('#AsyncAction').val('');
                    $.triggerPageForm('ChangeFormValue', '#PartialLoaderContainer', '#approverSetup-form', InitializeForm);
                });
				$('#EmailBody').richText();
            }
            InitializeForm();
        });
    </script>

}