@page
@model FBSC.ODMS.Web.Areas.HTMLTemplate.Pages.Setup.DetailsModel
@{
    ViewData["Title"] = Localizer["View HTML Template"];
    ViewData["ActiveMainPage"] = "HTMLTemplate";
    ViewData["Level1"] = "Admin";
    var breadcrumbs = new[] {
        new { Title = "HTML Template List", Url = "/HTMLTemplate/Setup/Index", IsActive = false },
        new { Title = "View HTML Template", Url = "", IsActive = true },
    };
}
<partial name="_BreadcrumbPartial" model=@(breadcrumbs) />
<partial name="_CodeMirrorStyles" />
<partial name="_RichTextEditorStyles" />
<div id="hTMLTemplate-container">
    <input type="hidden" asp-for="@Model.RemoveSubDetailId" />
    <input type="hidden" asp-for="@Model.AsyncAction" />
    <div id="PartialLoaderContainer">
        <partial name="_InputFieldsPartial" model="Model.HTMLTemplateForm" />
    </div>
</div>
<div id="toolbar-container" class="btn-group" role="group">
    <a asp-page="Index" class="btn btnFills btn-outline-secondary btnBackIcon" aria-label="@Localizer["Back"]" title="@Localizer["Back"]"></a>
    @if ((await AuthorizationService.AuthorizeAsync(User, FBSC.HTMLTemplate.HTMLTemplatePermission.HTMLTemplate.Create)).Succeeded)
    {
        <a asp-page="Add" id="btnAddRecord" class="btn btnFills btn-outline-success btnAddIcon" aria-label="@Localizer["Add"]" title="@Localizer["Add"]"></a>
    }
    @if ((await AuthorizationService.AuthorizeAsync(User, FBSC.HTMLTemplate.HTMLTemplatePermission.HTMLTemplate.Edit)).Succeeded)
    {
        <a asp-page="Edit" asp-route-id="@Model.HTMLTemplateForm.Id" class="btn btnFills btn-outline-primary btnEditIcon" aria-label="@Localizer["Edit"]" title="@Localizer["Edit"]"></a>
    }
    @if ((await AuthorizationService.AuthorizeAsync(User, FBSC.HTMLTemplate.HTMLTemplatePermission.HTMLTemplate.Delete)).Succeeded)
    {
        <a asp-page="Delete" asp-route-id="@Model.HTMLTemplateForm.Id" class="btn btnFills btn-outline-danger btnDeleteIcon" aria-label="@Localizer["Delete"]" title="@Localizer["Delete"]"></a>
    }
</div>

@section Scripts {
    <partial name="_DisableFieldsPartial" model="@("hTMLTemplate-container")" />
    <partial name="_CodeMirrorScripts" />
    <partial name="_RichTextEditorScripts" />
    <script asp-add-nonce>
        $(document).ready(function () {
            $('#HTMLTemplate').richText();
			$('#HTMLFooterTemplate').richText();
			
            // Make the contenteditable div readonly
            $('.richText-editor').attr('contenteditable', 'false');
            // Disable toolbar buttons
            $('.richText-toolbar').css('pointer-events', 'none').css('opacity', '0.5');

            const textAreaCustomCss = document.getElementById('CustomCss');
            if (textAreaCustomCss) {
                var editorCss = CodeMirror.fromTextArea(
                    textAreaCustomCss, {
                    mode: 'css',
                    theme: 'monokai',
                    lineNumbers: true,
                    autoCloseBrackets: true,
                    matchBrackets: true,
                    indentUnit: 4,
                    tabSize: 4,
                    lineWrapping: true,
                    readOnly: true  // Added readonly option
                });
            }
        });
    </script>
}