@using Models
@model DataUploadBatchViewModel
<input type="hidden" id="DataUploadColumnCount" value="@Model?.DataUploadColumnList?.Count" />
<div class="card">
    <h5 class="card-header">
        <span  class="card-header-custom">@Localizer["Data Upload Column"]</span>
        <a id="btnAddDataUploadColumn" class="btn btnMaterial btn-flat primary semicircle cancel btnAddRemoveSubDetailList text-light" title="@Localizer["Add"]"><i class="fas fa-plus"></i></a>
        <button class="cancel d-none" type="button" id="btnRemoveDataUploadColumn" value="RemoveDataUploadColumn"></button>
    </h5>
    <div class="card-body overflow-auto">
        <table id="subDetailList" class="table table-hover table-striped responsive nowrap fills-table" width="100%">
            <thead>
                <tr>
                    <th class="d-none"></th>
                    <th class="text-center">
								@Localizer["Detected Column Name"]
							</th>
							<th class="text-center">
								@Localizer["Auto-Detected Data Type"]
							</th>
							<th class="text-center">
								@Localizer["Sql Data Type Used In Staging Table"]
							</th>
							<th class="text-center">
								@Localizer["Column Order In File"]
							</th>
							<th class="text-center">
								@Localizer["First Non-Blank Sample Value"]
							</th>
							
                    <th class="text-center">
                        @Localizer["Action"]
                    </th>
                </tr>
            </thead>
            <tbody>
                @if (Model?.DataUploadColumnList != null)
                {
                    int counter = 0;
                    foreach (var item in Model.DataUploadColumnList)
                    {
                        <tr>
                            <td class="d-none">
                                <input type="hidden" name="DataUploadColumnList[@counter].Id" value="@item.Id" />
                                <input type="hidden" name="DataUploadColumnList[@counter].DataUploadBatchId" value="@item.DataUploadBatchId" />
                            </td>
                            <td>
										<input  asp-for="@item.ColumnName" name="DataUploadColumnList[@counter].ColumnName" class="form-control" maxlength="150" readonly/>
										<span data-valmsg-for="DataUploadColumnList[@counter].ColumnName" asp-validation-for="@item.ColumnName" class="text-danger"></span>
										<input type="hidden" asp-for="@item.ColumnName"  name="DataUploadColumnList[@counter].ColumnName"/>
									</td>
									<td>
										<input  asp-for="@item.DetectedDataType" name="DataUploadColumnList[@counter].DetectedDataType" class="form-control" maxlength="50" readonly/>
										<span data-valmsg-for="DataUploadColumnList[@counter].DetectedDataType" asp-validation-for="@item.DetectedDataType" class="text-danger"></span>
										<input type="hidden" asp-for="@item.DetectedDataType"  name="DataUploadColumnList[@counter].DetectedDataType"/>
									</td>
									<td>
										<input  asp-for="@item.MappedSqlDataType" name="DataUploadColumnList[@counter].MappedSqlDataType" class="form-control" maxlength="50" />
										<span data-valmsg-for="DataUploadColumnList[@counter].MappedSqlDataType" asp-validation-for="@item.MappedSqlDataType" class="text-danger"></span>
										
									</td>
									<td>
										<input  asp-for="@item.OrdinalPosition" name="DataUploadColumnList[@counter].OrdinalPosition" class="form-control"  readonly/>
										<span data-valmsg-for="DataUploadColumnList[@counter].OrdinalPosition" asp-validation-for="@item.OrdinalPosition" class="text-danger"></span>
										<input type="hidden" asp-for="@item.OrdinalPosition"  name="DataUploadColumnList[@counter].OrdinalPosition"/>
									</td>
									<td>
										<input  asp-for="@item.SampleValue" name="DataUploadColumnList[@counter].SampleValue" class="form-control" maxlength="450" readonly/>
										<span data-valmsg-for="DataUploadColumnList[@counter].SampleValue" asp-validation-for="@item.SampleValue" class="text-danger"></span>
										<input type="hidden" asp-for="@item.SampleValue"  name="DataUploadColumnList[@counter].SampleValue"/>
									</td>
									
                            <td class="text-center">
                                <a class="btn btnFills btn-outline-danger btnDeleteIcon cancel RemoveDataUploadColumnButton btnAddRemoveSubDetailList" title="@Localizer["Remove DataUploadColumn"]" removeId="@(item.Id)"></a>
                            </td>
                        </tr>
                        counter++;
                    }
                }
            </tbody>
        </table>
    </div>
</div>
