@page
@model AddModel
@{
    ViewData["Title"] = Localizer["Add Data Upload Batch"];
    ViewData["ActiveMainPage"] = "DataUploadBatch";
    ViewData["Level1"] = "ODMS";
	var breadcrumbs = new[] {
		new { Title = "Data Upload Batch List", Url = "/ODMS/DataUploadBatch/Index", IsActive = false },
		new { Title = "Add Data Upload Batch", Url = "", IsActive = true },
	};
}
<partial name="_BreadcrumbPartial" model=@(breadcrumbs) />
<form id="dataUploadBatch-form" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
	<input type="hidden" asp-for="@Model.RemoveSubDetailId" />
    <input type="hidden" asp-for="@Model.AsyncAction" />
	<div id="PartialLoaderContainer">
        <partial name="_InputFieldsPartial" model="Model.DataUploadBatch" />
    </div> 	
	<div id="toolbar-container" class="btn-group" role="group">     
		<a asp-page="Index" id="btnCancelConfirmationModal" class="btn btnFills btn-outline-secondary btnBackIcon" title="@Localizer["Back"]"></a>
		<button type="button" id="btnConfirmationModal" class="btn btnFills btn-outline-success btnSaveIcon" title="@Localizer["Save changes"]"></button>
	</div>   	
</form>

@section Scripts {
<partial name="_ValidationScriptsPartial" />
<partial name="_DataUploadColumnListValidationPartial" model="@Model.DataUploadBatch" />

<script asp-add-nonce>
    $(document).ready(function () {
		$.bindSaveConfirmationModal('Save', '#btnConfirmationModal','#dataUploadBatch-form');
		$.bindCancelConfirmationModal('Cancel', '#btnCancelConfirmationModal','#dataUploadBatch-form', 'Do you want to cancel the changes?');
		function InitializeForm()
		{			

			$('.DisableSelectDropdown').on('mousedown', function(e) {
				e.preventDefault();
				this.blur();
				window.focus();
			});
			
			$.InitializeDataUploadColumnFieldValidations($('#DataUploadColumnCount').val());
			$('.RemoveDataUploadColumnButton ').on( 'click', function () {
				$('#RemoveSubDetailId').val($(this).attr('removeid'));
				$('#AsyncAction').val('RemoveDataUploadColumn');
				$.triggerPageForm('ChangeFormValue','#PartialLoaderContainer', '#dataUploadBatch-form', InitializeForm, true);
			});

			$('#btnAddDataUploadColumn').on( 'click', function () {
				$('#AsyncAction').val('AddDataUploadColumn');
				$.triggerPageForm('ChangeFormValue','#PartialLoaderContainer', '#dataUploadBatch-form', InitializeForm, true);
			});

			$.fn.datasourceSelect = function() {
				this.filter("select").each(function() {
					$(this).ajaxSelect({
						ajax: {
							url: '@Url.Page("/Dropdown/Index", new { area = "ODMS", handler = "Select2DataSourceData" })',
						}
					});
				});
				return this;
			};
			$("#DataSourceId").datasourceSelect();

		}	
		InitializeForm();
    });
</script>
}