@model FBSC.ApiHub.ViewModels.WebhookLogsViewModel

<input type="hidden" asp-for="@Model.Response" />

<div class="row">
    <div class="col-md-4 mb-3">
        <label asp-for="@Model.WebhookApiName" class="form-label fw-bold">@Localizer["Webhook Api Name"] :</label>
        <input asp-for="@Model.WebhookApiName" class="form-control" />
    </div>
    <div class="col-md-4 mb-3">
        <label asp-for="@Model.ReferenceFieldWebhookEventAssignmentId" class="form-label fw-bold">@Localizer["Webhook / Api Event"] :</label>
        <input asp-for="@Model.ReferenceFieldWebhookEventAssignmentId" class="form-control" />
    </div>
    <div class="col-md-4 mb-3">
        <label asp-for="@Model.Status" class="form-label fw-bold">@Localizer["Status"] :</label>
        <input asp-for="@Model.Status" class="form-control" />
    </div>

    <div class="col-md-8 mb-3">
        <label asp-for="@Model.ParametarizedRoute" class="form-label fw-bold">@Localizer["Parametarized Route"] :</label>
        <input asp-for="@Model.ParametarizedRoute" class="form-control" />
    </div>
    <div class="col-md-4 mb-3">
        <label asp-for="@Model.DataId" class="form-label fw-bold">@Localizer["Data Id"] :</label>
        <input asp-for="@Model.DataId" class="form-control" />
    </div>

    <div class="col-md-3 mb-3">
        <label asp-for="@Model.DateTimeStarted" class="form-label fw-bold">@Localizer["Date / Time Started"] :</label>
        <input asp-for="@Model.DateTimeStarted" class="form-control" />
    </div>
    <div class="col-md-3 mb-3">
        <label asp-for="@Model.DateTimeEnded" class="form-label fw-bold">@Localizer["Date / Time Ended"] :</label>
        <input asp-for="@Model.DateTimeEnded" class="form-control" />
    </div>
    <div class="col-md-3 mb-3">
        <label asp-for="@Model.LastModifiedDate" class="form-label fw-bold">@Localizer["Last Modified Date"] :</label>
        <input asp-for="@Model.LastModifiedDate" class="form-control" />
    </div>
    <div class="col-md-3 mb-3">
        <label asp-for="@Model.LockedByInstance" class="form-label fw-bold">@Localizer["Locked By Instance"] :</label>
        <input asp-for="@Model.LockedByInstance" class="form-control" />
    </div>

    <div class="col-12 mb-3">
        <label asp-for="@Model.Error" class="form-label fw-bold">@Localizer["Error"] :</label>
        <textarea asp-for="@Model.Error" class="form-control" rows="3"></textarea>
    </div>

    <div class="col-12 mb-3">
        <label asp-for="@Model.Payload" class="form-label fw-bold">@Localizer["Payload"] :</label>
        <textarea asp-for="@Model.Payload" class="form-control" rows="20"></textarea>
    </div>
</div>