@model FBSC.ApiHub.ViewModels.WebhookApiViewModel


<div class="row">
    <div class="col-md-6 mb-3">
        <label asp-for="@Model.Name" class="form-label fw-bold">@Localizer["Name"] :</label>
        <input asp-for="@Model.Name" class="form-control" maxlength="50" />
        <span asp-validation-for="@Model.Name" class="text-danger"></span>
    </div>
    <div class="col-md-6 mb-3">
        <label asp-for="@Model.GrantType" class="form-label fw-bold">@Localizer["Grant Type"] :</label>
        <select asp-for="@Model.GrantType" class="form-control" asp-items="@(FBSC.ApiHub.Services.DropdownServices.GrantTypeList())">
            <option value="">- Select Grant Type -</option>
        </select>
        <span asp-validation-for="@Model.GrantType" class="text-danger"></span>
    </div>

    <div class="col-md-6 mb-3">
        <label asp-for="@Model.ClientId" class="form-label fw-bold">
            @(Model.GrantType == FBSC.ApiHub.Models.GrantType.BasicAuthentication ? Localizer["Username"] : Localizer["Client Id"]) :
        </label>
        <input asp-for="@Model.ClientId" class="form-control" />
        <span asp-validation-for="@Model.ClientId" class="text-danger"></span>
    </div>

    @if (Model.GrantType == FBSC.ApiHub.Models.GrantType.ClientCredentials ||
         Model.GrantType == FBSC.ApiHub.Models.GrantType.BasicAuthentication ||
         Model.GrantType == FBSC.ApiHub.Models.GrantType.BearerToken ||
         Model.GrantType == FBSC.ApiHub.Models.GrantType.ApiKey)
    {
        <div class="col-md-6 mb-3">
            <label asp-for="@Model.ClientSecret" class="form-label fw-bold">
                @if (Model.GrantType == FBSC.ApiHub.Models.GrantType.BasicAuthentication)
                {
                    @Localizer["Password"]
                }
                else if (Model.GrantType == FBSC.ApiHub.Models.GrantType.BearerToken)
                {
                    @Localizer["Bearer Token"]
                }
                else if (Model.GrantType == FBSC.ApiHub.Models.GrantType.ApiKey)
                {
                    @Localizer["API Key"]
                }
                else
                {
                    @Localizer["Client Secret"]
                }
                :
            </label>
            @if (Model.IsEdit)
            {
                <input type="password" asp-for="@Model.ClientSecret" class="form-control" value="@Model.ClientSecret" />
            }
            else
            {
                <input type="text" asp-for="@Model.ClientSecret" class="form-control" value="@Model.ClientSecret" />
            }
            <span asp-validation-for="@Model.ClientSecret" class="text-danger"></span>
        </div>
    }

    <div class="@(Model.GrantType == FBSC.ApiHub.Models.GrantType.ClientCredentials ? "col-md-6" : "col-12") mb-3">
        <label asp-for="@Model.BaseUrl" class="form-label fw-bold">@Localizer["Base Url"] :</label>
        <input asp-for="@Model.BaseUrl" class="form-control" maxlength="255" />
        <span asp-validation-for="@Model.BaseUrl" class="text-danger"></span>
    </div>

    @if (Model.GrantType == FBSC.ApiHub.Models.GrantType.ClientCredentials)
    {
        <div class="col-md-6 mb-3">
            <label asp-for="@Model.AuthenticationUrl" class="form-label fieldrequired fw-bold">@Localizer["Authentication Url"] :</label>
            <input asp-for="@Model.AuthenticationUrl" class="form-control" maxlength="255" required />
            <span asp-validation-for="@Model.AuthenticationUrl" class="text-danger"></span>
        </div>

        <div class="col-12 mb-3">
            <label asp-for="@Model.Scope" class="form-label fieldrequired fw-bold">@Localizer["Scope"] :</label>
            <textarea asp-for="@Model.Scope" class="form-control" rows="3" required></textarea>
            <span asp-validation-for="@Model.Scope" class="text-danger"></span>
        </div>
    }
    <div class="col-12 mb-3">
        <label asp-for="@Model.AdditionalConfigurationJson" class="form-label fw-bold">@Localizer["Additional Configuration (JSON)"] :</label>
        <textarea asp-for="@Model.AdditionalConfigurationJson" class="form-control font-monospace" rows="6"></textarea>
        <span asp-validation-for="@Model.AdditionalConfigurationJson" class="text-danger"></span>
        <div class="form-text text-muted">Enter valid JSON for the configuration parameters.</div>
    </div>
    <div class="col-md-6 mb-3">
        <label asp-for="@Model.HMAC" class="form-label fw-bold">@Localizer["HMAC"] :</label>
        @if (Model.IsEdit)
        {
            <input type="password" asp-for="@Model.HMAC" class="form-control" value="@Model.HMAC" />
        }
        else
        {
            <input type="text" asp-for="@Model.HMAC" class="form-control" value="@Model.HMAC" />
        }
        <span asp-validation-for="@Model.HMAC" class="text-danger"></span>
    </div>

    <div class="col-md-3 col-sm-6 mb-3">
        <label asp-for="@Model.WithinPrivateNetwork" class="form-label fw-bold">@Localizer["Within Private Network"] :</label>
        <div class="mt-1">
            <input asp-for="@Model.WithinPrivateNetwork" class="custom-checkbox-label" />
        </div>
        <span asp-validation-for="@Model.WithinPrivateNetwork" class="text-danger"></span>
    </div>

    <div class="col-md-3 col-sm-6 mb-3">
        <label asp-for="@Model.Active" class="form-label fw-bold">@Localizer["Active"] :</label>
        <div class="mt-1">
            <input asp-for="@Model.Active" class="custom-checkbox-label" />
        </div>
        <span asp-validation-for="@Model.Active" class="text-danger"></span>
    </div>
</div>