@using Models
@model DashboardWidgetViewModel

<div class="row row-cols-1 row-cols-sm-1 row-cols-md-1 row-cols-lg-1 row-cols-xl-1 row-cols-xxl-1">
    <div class="col">
	<div class="mb-3">
		<label asp-for="@Model.DashboardId" class="form-label"><strong>@Localizer["Dashboard"] :</strong></label>
			<select asp-for="@Model.DashboardId" class="form-control" asp-items="@(dropdownService.GetDashboardList(Model.DashboardId))"><option value="">- Select Dashboard -</option></select>
			<span asp-validation-for="@Model.DashboardId" class="text-danger d-block mt-1"></span>
			
	</div>
</div>
<div class="col">
	<div class="mb-3">
		<label asp-for="@Model.DashboardQueryId" class="form-label"><strong>@Localizer["Dashboard Query"] :</strong></label>
			<select asp-for="@Model.DashboardQueryId" class="form-control" asp-items="@(dropdownService.GetDashboardQueryList(Model.DashboardQueryId))"><option value="">- Select Dashboard Query -</option></select>
			<span asp-validation-for="@Model.DashboardQueryId" class="text-danger d-block mt-1"></span>
			
	</div>
</div>
<div class="col">
	<div class="mb-3">
		<label asp-for="@Model.ReportTypeId" class="form-label"><strong>@Localizer["Report Type"] :</strong></label>
			<select asp-for="@Model.ReportTypeId" class="form-control" asp-items="@(dropdownService.GetReportTypeList(Model.ReportTypeId))"><option value="">- Select Report Type -</option></select>
			<span asp-validation-for="@Model.ReportTypeId" class="text-danger d-block mt-1"></span>
			
	</div>
</div>
<div class="col">
	<div class="mb-3">
		<label asp-for="@Model.Title" class="form-label"><strong>@Localizer["Widget Title"] :</strong></label>
			<input asp-for="@Model.Title" class="form-control" maxlength="150" />
			<span asp-validation-for="@Model.Title" class="text-danger d-block mt-1"></span>
			
	</div>
</div>
<div class="col">
	<div class="mb-3">
		<label asp-for="@Model.XAxisColumnName" class="form-label"><strong>@Localizer["Maps To A DashboardQueryResultColumn.ColumnName"] :</strong></label>
			<input asp-for="@Model.XAxisColumnName" class="form-control" maxlength="150" />
			<span asp-validation-for="@Model.XAxisColumnName" class="text-danger d-block mt-1"></span>
			
	</div>
</div>
<div class="col">
	<div class="mb-3">
		<label asp-for="@Model.YAxisColumnsJson" class="form-label"><strong>@Localizer["Json Array Of Measure Column Names"] :</strong></label>
			<input asp-for="@Model.YAxisColumnsJson" class="form-control" maxlength="450" />
			<span asp-validation-for="@Model.YAxisColumnsJson" class="text-danger d-block mt-1"></span>
			
	</div>
</div>
<div class="col">
	<div class="mb-3">
		<label asp-for="@Model.SeriesColumnName" class="form-label"><strong>@Localizer["Optional Grouping/Series Column"] :</strong></label>
			<input asp-for="@Model.SeriesColumnName" class="form-control" maxlength="150" />
			<span asp-validation-for="@Model.SeriesColumnName" class="text-danger d-block mt-1"></span>
			
	</div>
</div>
<div class="col">
	<div class="mb-3">
		<label asp-for="@Model.AggregationOverride" class="form-label"><strong>@Localizer["Overrides The Result Column`s Default Aggregation"] :</strong></label>
			<input asp-for="@Model.AggregationOverride" class="form-control" maxlength="20" />
			<span asp-validation-for="@Model.AggregationOverride" class="text-danger d-block mt-1"></span>
			
	</div>
</div>
<div class="col">
	<div class="mb-3">
		<label asp-for="@Model.DrillDownDashboardId" class="form-label"><strong>@Localizer["Optional Dashboard Opened On Widget Click"] :</strong></label>
			<select asp-for="@Model.DrillDownDashboardId" class="form-control" asp-items="@(dropdownService.GetDashboardList(Model.DrillDownDashboardId))"><option value="">- Select Optional Dashboard Opened On Widget Click -</option></select>
			<span asp-validation-for="@Model.DrillDownDashboardId" class="text-danger d-block mt-1"></span>
			
	</div>
</div>
<div class="col">
	<div class="mb-3">
		<label asp-for="@Model.GridPositionX" class="form-label"><strong>@Localizer["Grid Column Position"] :</strong></label>
			<input asp-for="@Model.GridPositionX" class="form-control text-end"  />
			<span asp-validation-for="@Model.GridPositionX" class="text-danger d-block mt-1"></span>
			
	</div>
</div>
<div class="col">
	<div class="mb-3">
		<label asp-for="@Model.GridPositionY" class="form-label"><strong>@Localizer["Grid Row Position"] :</strong></label>
			<input asp-for="@Model.GridPositionY" class="form-control text-end"  />
			<span asp-validation-for="@Model.GridPositionY" class="text-danger d-block mt-1"></span>
			
	</div>
</div>
<div class="col">
	<div class="mb-3">
		<label asp-for="@Model.GridWidth" class="form-label"><strong>@Localizer["Grid Width In Columns"] :</strong></label>
			<input asp-for="@Model.GridWidth" class="form-control text-end"  />
			<span asp-validation-for="@Model.GridWidth" class="text-danger d-block mt-1"></span>
			
	</div>
</div>
<div class="col">
	<div class="mb-3">
		<label asp-for="@Model.GridHeight" class="form-label"><strong>@Localizer["Grid Height In Rows"] :</strong></label>
			<input asp-for="@Model.GridHeight" class="form-control text-end"  />
			<span asp-validation-for="@Model.GridHeight" class="text-danger d-block mt-1"></span>
			
	</div>
</div>
<div class="col">
	<div class="mb-3">
		<label asp-for="@Model.RefreshIntervalOverrideSeconds" class="form-label"><strong>@Localizer["Overrides Dashboard-Level Refresh Interval"] :</strong></label>
			<input asp-for="@Model.RefreshIntervalOverrideSeconds" class="form-control text-end"  />
			<span asp-validation-for="@Model.RefreshIntervalOverrideSeconds" class="text-danger d-block mt-1"></span>
			
	</div>
</div>
<div class="col">
	<div class="mb-3">
		<label asp-for="@Model.Sequence" class="form-label"><strong>@Localizer["Tab/Load Order"] :</strong></label>
			<input asp-for="@Model.Sequence" class="form-control text-end"  />
			<span asp-validation-for="@Model.Sequence" class="text-danger d-block mt-1"></span>
			
	</div>
</div>

</div>
