@using Models
@model ReportViewModel
<input type="hidden" id="ReportQueryFilterCount" value="@Model?.ReportQueryFilterList?.Count" />
<div class="card">
    <h5 class="card-header">
        <span class="card-header-custom">@Localizer["Query Filter"]</span>
        <a id="btnAddReportQueryFilter" class="btn btnMaterial btn-flat primary semicircle cancel btnAddRemoveSubDetailList text-light" title="@Localizer["Add"]"><i class="fas fa-plus"></i></a>
        <button class="cancel d-none" type="button" id="btnRemoveReportQueryFilter" value="RemoveReportQueryFilter"></button>
    </h5>
    <div class="card-body">
        <div class="sub-collection-list">
            @if (Model?.ReportQueryFilterList != null)
            {
                int counter = 0;
                foreach (var item in Model.ReportQueryFilterList)
                {
                    <div class="sub-collection-row">
                        <input type="hidden" name="ReportQueryFilterList[@counter].Id" value="@item.Id" />
                        <input type="hidden" name="ReportQueryFilterList[@counter].ReportId" value="@item.ReportId" />
                        <input type="hidden" name="ReportQueryFilterList[@counter].Sequence" value="@counter" />
                        <div class="sub-collection-fields">
                            <div class="sub-collection-field">
                                <label>@Localizer["Field Name"]</label>
                                <input asp-for="@item.FieldName" name="ReportQueryFilterList[@counter].FieldName" class="form-control" maxlength="255" />
                                <span data-valmsg-for="ReportQueryFilterList[@counter].FieldName" asp-validation-for="@item.FieldName" class="text-danger"></span>
                            </div>
                            <div class="sub-collection-field">
                                <label>@Localizer["Field Description"]</label>
                                <input asp-for="@item.FieldDescription" name="ReportQueryFilterList[@counter].FieldDescription" class="form-control" maxlength="255" />
                                <span data-valmsg-for="ReportQueryFilterList[@counter].FieldDescription" asp-validation-for="@item.FieldDescription" class="text-danger"></span>
                            </div>
                            <div class="sub-collection-field">
                                <label>@Localizer["Data Type"]</label>
                                <select asp-for="@item.DataType" name="ReportQueryFilterList[@counter].DataType" asp-items="@(dropdownService.DataTypeList())"
                                        id="ReportQueryFilterList_@(counter)_DataType" class="form-control DataType">
                                    <option selected="selected" value="">- Select Data Type -</option>
                                </select>
                                <span data-valmsg-for="ReportQueryFilterList[@counter].DataType" asp-validation-for="@item.DataType" class="text-danger"></span>
                            </div>
                            @if (item.DataType == FBSC.ODMS.Core.Constants.DataTypes.CustomDropdown)
                            {
                                <div class="sub-collection-field">
                                    <label>@Localizer["Custom Dropdown Values"]</label>
                                    <input asp-for="@item.CustomDropdownValues" name="ReportQueryFilterList[@counter].CustomDropdownValues" class="form-control" maxlength="1000" />
                                    <span data-valmsg-for="ReportQueryFilterList[@counter].CustomDropdownValues" asp-validation-for="@item.CustomDropdownValues" class="text-danger"></span>
                                </div>
                                <div class="sub-collection-field">
                                    <label>@Localizer["Dropdown (Table, Key, Value)"]</label>
                                    <input asp-for="@item.DropdownTableKeyAndValue" name="ReportQueryFilterList[@counter].DropdownTableKeyAndValue" class="form-control" readonly />
                                </div>
                                <div class="sub-collection-field">
                                    <label>@Localizer["Dropdown Filter"]</label>
                                    <input asp-for="@item.DropdownFilter" name="ReportQueryFilterList[@counter].DropdownFilter" class="form-control" readonly />
                                </div>
                            }
                            else if (item.DataType == FBSC.ODMS.Core.Constants.DataTypes.DropdownFromTable)
                            {
                                <div class="sub-collection-field">
                                    <label>@Localizer["Custom Dropdown Values"]</label>
                                    <input asp-for="@item.CustomDropdownValues" name="ReportQueryFilterList[@counter].CustomDropdownValues" class="form-control" readonly />
                                </div>
                                <div class="sub-collection-field">
                                    <label>@Localizer["Dropdown (Table, Key, Value)"]</label>
                                    <input asp-for="@item.DropdownTableKeyAndValue" name="ReportQueryFilterList[@counter].DropdownTableKeyAndValue" class="form-control" maxlength="255" />
                                    <span data-valmsg-for="ReportQueryFilterList[@counter].DropdownTableKeyAndValue" asp-validation-for="@item.DropdownTableKeyAndValue" class="text-danger"></span>
                                </div>
                                <div class="sub-collection-field">
                                    <label>@Localizer["Dropdown Filter"]</label>
                                    <input asp-for="@item.DropdownFilter" name="ReportQueryFilterList[@counter].DropdownFilter" class="form-control" maxlength="255" />
                                    <span data-valmsg-for="ReportQueryFilterList[@counter].DropdownFilter" asp-validation-for="@item.DropdownFilter" class="text-danger"></span>
                                </div>
                            }
                            else
                            {
                                <div class="sub-collection-field">
                                    <label>@Localizer["Custom Dropdown Values"]</label>
                                    <input asp-for="@item.CustomDropdownValues" name="ReportQueryFilterList[@counter].CustomDropdownValues" class="form-control" readonly />
                                    <span data-valmsg-for="ReportQueryFilterList[@counter].CustomDropdownValues" asp-validation-for="@item.CustomDropdownValues" class="text-danger"></span>
                                </div>
                                <div class="sub-collection-field">
                                    <label>@Localizer["Dropdown (Table, Key, Value)"]</label>
                                    <input asp-for="@item.DropdownTableKeyAndValue" name="ReportQueryFilterList[@counter].DropdownTableKeyAndValue" class="form-control" readonly />
                                    <span data-valmsg-for="ReportQueryFilterList[@counter].DropdownTableKeyAndValue" asp-validation-for="@item.DropdownTableKeyAndValue" class="text-danger"></span>
                                </div>
                                <div class="sub-collection-field">
                                    <label>@Localizer["Dropdown Filter"]</label>
                                    <input asp-for="@item.DropdownFilter" name="ReportQueryFilterList[@counter].DropdownFilter" class="form-control" readonly />
                                    <span data-valmsg-for="ReportQueryFilterList[@counter].DropdownFilter" asp-validation-for="@item.DropdownFilter" class="text-danger"></span>
                                </div>
                            }
                        </div>
                        <div class="sub-collection-actions">
                            <a class="btn btnMaterial btn-flat accent semicircle cancel RemoveReportQueryFilterButton btnAddRemoveSubDetailList" title="@Localizer["Remove Report Query Filter"]" removeId="@(item.Id)"><i class="fas fa-trash"></i></a>
                        </div>
                    </div>
                    counter++;
                }
            }
        </div>
    </div>
</div>
