@page
@model DetailsModel
@{
    ViewData["Title"] = Localizer["View Report Setup"];
    ViewData["ActiveMainPage"] = "ReportSetup";
    ViewData["Level1"] = "Admin";
    var breadcrumbs = new[] {
        new { Title = "Report Setup List", Url = "/ODMS/ReportSetup/Index", IsActive = false },
        new { Title = "View Report Setup", Url = "", IsActive = true },
    };
}
<partial name="_BreadcrumbPartial" model=@(breadcrumbs) />
<partial name="_CodeMirrorStyles" />
<partial name="_RichTextEditorStyles" />
<div id="report-container">
    <input type="hidden" asp-for="@Model.RemoveSubDetailId" />
    <input type="hidden" asp-for="@Model.AsyncAction" />
    <div id="PartialLoaderContainer">
        <partial name="_InputFieldsPartial" model="Model.Report" />
    </div>
</div>
<div id="toolbar-container" class="btn-group" role="group">
    <a asp-page="Index" class="btn btnFills btn-outline-secondary btnBackIcon" aria-label="@Localizer["Back"]" title="@Localizer["Back"]"></a>
    @if ((await AuthorizationService.AuthorizeAsync(User, Permission.ReportSetup.Create)).Succeeded)
    {
       <a asp-page="Add" id="btnAddRecord" class="btn btnFills btn-outline-success btnAddIcon" aria-label="@Localizer["Add"]" title="@Localizer["Add"]"></a>
    }
    @if ((await AuthorizationService.AuthorizeAsync(User, Permission.ReportSetup.Edit)).Succeeded)
    {
        <a asp-page="Edit" asp-route-id="@Model.Report.Id" class="btn btnFills btn-outline-primary btnEditIcon" aria-label="@Localizer["Edit"]" title="@Localizer["Edit"]"></a>
    }
    @if ((await AuthorizationService.AuthorizeAsync(User, Permission.ReportSetup.Delete)).Succeeded)
    {
        <a asp-page="Delete" asp-route-id="@Model.Report.Id" class="btn btnFills btn-outline-danger btnDeleteIcon" aria-label="@Localizer["Delete"]" title="@Localizer["Delete"]"></a>
    }
</div>

@section Scripts {
    <partial name="_DisableFieldsPartial" model="@("report-container")" />
    <partial name="_CodeMirrorScripts" />
	<partial name="_RichTextEditorScripts" />
    <script asp-add-nonce>
        const textAreaQueryString = document.getElementById('QueryString');
        if (textAreaQueryString) {
            var editor = CodeMirror.fromTextArea(
                textAreaQueryString, {
                mode: 'sql',
                theme: '3024-night',
                lineNumbers: true,
                autoCloseBrackets: true,
                autoCloseTags: true
            });
        }
        $('#HtmlTemplate').richText();
		$('#HtmlFooterTemplate').richText();

		// Make the contenteditable div readonly
		$('.richText-editor').attr('contenteditable', 'false');
		// Disable toolbar buttons
		$('.richText-toolbar').css('pointer-events', 'none').css('opacity', '0.5');
    </script>
}