@page
@model IndexModel

@section Styles {
    <partial name="_DataTableStyles" />
}
@{
    ViewData["Title"] = Localizer["Report Setup List"];
    ViewData["ActiveMainPage"] = "ReportSetup";
    ViewData["Level1"] = "Admin";
    IEnumerable<dynamic> breadCrumbs = [new { Title = "Report Setup List", Url = "", IsActive = true }];
}
<partial name="_BreadcrumbPartial" model=@(breadCrumbs) />
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <table id="report" class="table table-hover table-bordered table-striped responsive nowrap fills-table" width="100%">
                    <thead>
                        <tr>
                            <th>
                                @Localizer["Report Name"]
                            </th>
                            <th>
                                @Localizer["Query Type"]
                            </th>
                            <th>
                                @Localizer["Report / Chart Type"]
                            </th>
                            <th>
                                @Localizer["Display on Dashboard"]
                            </th>
                            <th>
                                @Localizer["Sequence"]
                            </th>
                            <th>
                                @Localizer["Actions"]
                            </th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_DataTableScripts" />
    <script asp-add-nonce>
        $(document).ready(function () {
            var table = $('#report').DataTable({
                select: false,
                serverSide: true,
                order: [[3, 'desc']],
                dom: '@Html.Raw(FBSC.ODMS.Web.WebConstants.DataTableDOMLayOut)',
                ajax:
                {
                    url: '@Url.Page("/ReportSetup/Index", new { area = "ODMS", handler = "ListAll" })',
                    type: "POST",
                    headers: {
                        RequestVerificationToken:
                            $('input:hidden[name="__RequestVerificationToken"]').val()
                    },
                },
                initComplete: function (settings, json) {
                    BindTableRowCollapseEvent();
                },
                columns: [
                    { data: "reportName", name: "ReportName", responsivePriority: 1, title: '@Localizer["Report Name"]', searchable: true },
                    { data: "queryType", name: "QueryType", responsivePriority: 1, title: '@Localizer["Query Type"]', searchable: false },
                    { data: "reportOrChartType", name: "ReportOrChartType", responsivePriority: 1, title: '@Localizer["Report / Chart Type"]', searchable: false },
                    { data: "displayOnDashboard", name: "DisplayOnDashboard", responsivePriority: 1, title: '@Localizer["Display on Dashboard"]', searchable: false, className:"text-center"},
                    { data: "sequence", name: "Sequence", responsivePriority: 1, title: '@Localizer["Sequence"]', searchable: false },
                    {
                        data: null,
                        searchable: false,
                        orderable: false,
                        responsivePriority: 2,
                        width: "10%",
                        className: "text-center",
                        render: function (data, type, row, meta) {
                            var url = '@Url.Page("/ReportSetup/Details", new { area = "ODMS" })' + '?id=' + row.id;
                            var button = '<a href="' + url + '" class="btn btnFills btn-outline-success btnInfoIcon btnViewReport" aria-label="@Localizer["View"]" title="@Localizer["View"]"></a>';
        @if ((await AuthorizationService.AuthorizeAsync(User, Permission.ReportSetup.Edit)).Succeeded)
        {
            <text>
                                    url = '@Url.Page("/ReportSetup/Edit", new { area = "ODMS" })' + '?id=' + row.id;
                                button = button + '&nbsp;<a href="' + url + '" class="btn btnFills btn-outline-primary btnEditIcon btnEditReport" aria-label="@Localizer["Edit"]" title="@Localizer["Edit"]"></a>';
            </text>
        }
        @if ((await AuthorizationService.AuthorizeAsync(User, Permission.ReportSetup.Delete)).Succeeded)
        {
            <text>
                                    url = '@Url.Page("/ReportSetup/Delete", new { area = "ODMS" })' + '?id=' + row.id;
                                button = button + '&nbsp;<a href="' + url + '" class="btn btnFills btn-outline-danger btnDeleteIcon btnDeleteReport" aria-label="@Localizer["Delete"]" title="@Localizer["Delete"]"></a>';
            </text>
        }
                            return button;
                        },
                    },
                    { data: "lastModifiedDate", name: "LastModifiedDate", title: '@Localizer["Last Modified Date"]', visible: false, searchable: false },
                    { data: "id", name: "Id", visible: false },
                ],
                buttons: [
        @* Add Button *@
        @if ((await AuthorizationService.AuthorizeAsync(User, Permission.ReportSetup.Create)).Succeeded)
        {
            <text>
                                                {
                                                    text: '<i class="fas fa-plus"></i>',
                                                    className: 'btn btn-success btnAddReportSetup text-light',
                                                    titleAttr: '@Localizer["Add"]',
                                                    action: function (e, dt, node, config) {
                                                        window.location.href = '@Url.Page("/ReportSetup/Add", new { area = "ODMS" })';
                                                    }
                                                },
            </text>
        }
        @* Page Length Button *@
            {
                extend: 'pageLength',
                className: 'btn btn-primary',
                titleAttr: '@Localizer["Rows per page"]'
            }
                ],
            });
            var debounce = new $.fn.dataTable.Debounce(table); // Add delay to search

            $('.btn-table_filter').on('click', function (e) {
                table.ajax.reload(null, false);
            });
            function BindTableRowCollapseEvent() {
                $('#report tbody').on('click', 'td.dtr-control', function () {
                    $.showAjaxLoaderOnClick([".btnAddReport", ".btnEditReport", ".btnViewReport", ".btnDeleteReport"]);
                });
            }
            $.showAjaxLoaderOnClick([".btnAddReport", ".btnEditReport", ".btnViewReport", ".btnDeleteReport"]);
            $.InitializeSearchKeyCookies(table);
        });
    </script>
}