@using Models
@model ProjectViewModel
<input type="hidden" id="TeamMembersCount" value="@Model?.TeamMembersList?.Count" />
<div class="card">
    <h5 class="card-header">
        <span  class="card-header-custom">@Localizer["Team Members"]</span>
        <a id="btnAddTeamMembers" class="btn btnMaterial btn-flat primary semicircle cancel btnAddRemoveSubDetailList text-light" title="@Localizer["Add"]"><i class="fas fa-plus"></i></a>
        <button class="cancel d-none" type="button" id="btnRemoveTeamMembers" value="RemoveTeamMembers"></button>
    </h5>
    <div class="card-body overflow-auto">
        <table id="subDetailList" class="table table-hover table-striped responsive nowrap fills-table" width="100%">
            <thead>
                <tr>
                    <th class="d-none"></th>
                    <th class="text-center">
								@Localizer["Full Name of the Member"]
							</th>
							<th class="text-center">
								@Localizer["Role of the Member in Project"]
							</th>
							
                    <th class="text-center">
                        @Localizer["Action"]
                    </th>
                </tr>
            </thead>
            <tbody>
                @if (Model?.TeamMembersList != null)
                {
                    int counter = 0;
                    foreach (var item in Model.TeamMembersList)
                    {
                        <tr>
                            <td class="d-none">
                                <input type="hidden" name="TeamMembersList[@counter].Id" value="@item.Id" />
                                <input type="hidden" name="TeamMembersList[@counter].ProjectId" value="@item.ProjectId" />
                            </td>
                            <td>
										<input  asp-for="@item.MemberName" name="TeamMembersList[@counter].MemberName" class="form-control" maxlength="255" />
										<span data-valmsg-for="TeamMembersList[@counter].MemberName" asp-validation-for="@item.MemberName" class="text-danger"></span>
										
									</td>
									<td>
										<input  asp-for="@item.Role" name="TeamMembersList[@counter].Role" class="form-control" maxlength="100" />
										<span data-valmsg-for="TeamMembersList[@counter].Role" asp-validation-for="@item.Role" class="text-danger"></span>
										
									</td>
									
                            <td class="text-center">
                                <a class="btn btnFills btn-outline-danger btnDeleteIcon cancel RemoveTeamMembersButton btnAddRemoveSubDetailList" aria-label="@Localizer["Remove TeamMembers"]" title="@Localizer["Remove TeamMembers"]" removeId="@(item.Id)"></a>
                            </td>
                        </tr>
                        counter++;
                    }
                }
            </tbody>
        </table>
    </div>
</div>
