@page
@model DetailsModel
@{
    ViewData["Title"] = Localizer["View Project"];
    ViewData["ActiveMainPage"] = "Projects";
    ViewData["Level1"] = "Projects";

}
<partial name="_PageHeaderPartial" />
<div id="project-container">
    <input type="hidden" asp-for="@Model.RemoveSubDetailId" />
    <input type="hidden" asp-for="@Model.AsyncAction" />
    <div id="PartialLoaderContainer">
        <partial name="_InputFieldsPartial" model="Model.Project" />
    </div>
</div>
<div id="toolbar-container" class="btn-group" role="group">
    <a asp-page="Index" class="btn btnFills btn-outline-secondary btnBackIcon" aria-label="@Localizer["Back"]" title="@Localizer["Back"]"></a>
    @if ((await AuthorizationService.AuthorizeAsync(User, Permission.Project.Create)).Succeeded)
    {
        <a asp-page="Add" id="btnAddRecord" class="btn btnFills btn-outline-success btnAddIcon" aria-label="@Localizer["Add"]" title="@Localizer["Add"]"></a>
    }
    @if ((await AuthorizationService.AuthorizeAsync(User, Permission.Project.Edit)).Succeeded)
    {
        <a asp-page="Edit" asp-route-id="@Model.Project.Id" class="btn btnFills btn-outline-primary btnEditIcon" aria-label="@Localizer["Edit"]" title="@Localizer["Edit"]"></a>
    }
    @if ((await AuthorizationService.AuthorizeAsync(User, Permission.Project.Delete)).Succeeded)
    {
        <a asp-page="Delete" asp-route-id="@Model.Project.Id" class="btn btnFills btn-outline-danger btnDeleteIcon" aria-label="@Localizer["Delete"]" title="@Localizer["Delete"]"></a>
    }
	@if ((await AuthorizationService.AuthorizeAsync(User, Permission.Project.History)).Succeeded)
	{
        <a asp-page="History" asp-route-id="@Model.Project.Id" class="btn btnFills btn-outline-primary btnHistoryIcon" aria-label="@Localizer["History"]" title="@Localizer["History"]"></a>
	}
</div>

@section Scripts {
<partial name="_DisableFieldsPartial" model="@("project-container")" />
}