@page
@model FBSC.ODMS.Web.Areas.HTMLTemplate.Pages.Setup.DeleteModel
@{
    ViewData["Title"] = Localizer["Delete HTML Template"];
    ViewData["ActiveMainPage"] = "HTMLTemplate";
    ViewData["Level1"] = "Admin";
    var breadcrumbs = new[] {
        new { Title = "HTML Template List", Url = "/HTMLTemplate/Setup/Index", IsActive = false },
        new { Title = "Delete HTML Template", Url = "", IsActive = true },
    };
}
<partial name="_BreadcrumbPartial" model=@(breadcrumbs) />
<partial name="_CodeMirrorStyles" />
<partial name="_RichTextEditorStyles" />
<form id="hTMLTemplate-form" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="@Model.RemoveSubDetailId" />
    <input type="hidden" asp-for="@Model.AsyncAction" />
    <div id="PartialLoaderContainer">
        <partial name="_InputFieldsPartial" model="Model.HTMLTemplateForm" />
    </div>
    <div id="toolbar-container" class="btn-group" role="group">
        <a asp-page="Index" class="btn btnFills btn-outline-secondary btnCancelIcon" title="@Localizer["Cancel"]"></a>
        <button type="button" id="btnDelete" class="btn btnFills btn-outline-danger btnDeleteIcon" title="@Localizer["Delete"]"></button>
    </div>
</form>

@section Scripts {
    <partial name="_DisableFieldsPartial" model="@("PartialLoaderContainer")" />
    <partial name="_ValidationScriptsPartial" />
    <partial name="_CodeMirrorScripts" />
    <partial name="_RichTextEditorScripts" />
    <script asp-add-nonce>
        $(document).ready(function () {
            $.bindSaveConfirmationModal('Save', '#btnDelete', '#hTMLTemplate-form', 'Are you sure you want to delete this hTMLTemplate?');

            $('.DisableSelectDropdown').on('mousedown', function(e) {
                e.preventDefault();
                this.blur();
                window.focus();
            });
            $('#HTMLTemplate').richText();
			$('#HTMLFooterTemplate').richText();
			
            // Make the contenteditable div readonly
            $('.richText-editor').attr('contenteditable', 'false');
            // Disable toolbar buttons
            $('.richText-toolbar').css('pointer-events', 'none').css('opacity', '0.5');

            const textAreaCustomCss = document.getElementById('CustomCss');
            if (textAreaCustomCss) {
                var editorCss = CodeMirror.fromTextArea(
                    textAreaCustomCss, {
                    mode: 'css',
                    theme: 'monokai',
                    lineNumbers: true,
                    autoCloseBrackets: true,
                    matchBrackets: true,
                    indentUnit: 4,
                    tabSize: 4,
                    lineWrapping: true,
                    readOnly: true  // Added readonly option
                });
            }
        });
    </script>
}