@page
@model FBSC.ODMS.Web.Areas.HTMLTemplate.Pages.Setup.IndexModel

@section Styles {
    <partial name="_DataTableStyles" />
}
@{
    ViewData["Title"] = Localizer["HTML Template List"];
    ViewData["ActiveMainPage"] = "HTMLTemplate";
    ViewData["Level1"] = "Admin";
	IEnumerable<dynamic> breadCrumbs = [new { Title = "HTML Template List", Url = "", IsActive = true }];
}
<partial name="_BreadcrumbPartial" model=@(breadCrumbs) />
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <table id="htmlTemplate" class="table table-hover table-bordered table-striped responsive nowrap fills-table" width="100%">
                    <thead>
                        <tr>
                            <th>
								@Localizer["Name"]
							</th>
                            <th>
                                @Localizer["Actions"]
                            </th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>


<div id="BatchUploadPartialContainer">
    <partial name="_BatchUpload" model="Model.BatchUpload" />
</div>
@section Scripts {
    <partial name="_DataTableScripts" />
    <script asp-add-nonce>
        $(document).ready(function () {
            var table = $('#htmlTemplate').DataTable({
                select: false,
                serverSide: true,
                responsive: true,
                order: [[2, 'desc']],
                dom: '@Html.Raw(FBSC.ODMS.Web.WebConstants.DataTableDOMLayOut)',
                ajax:
                {
                    url: '@Url.Page("/Setup/Index", new { area = "HTMLTemplate", handler = "ListAll" })',
                    type: "POST",
                    headers: {
                        RequestVerificationToken:
                            $('input:hidden[name="__RequestVerificationToken"]').val()
                    },
                },
                initComplete: function (settings, json) {
                    BindTableRowCollapseEvent();
                },
                columns: [
                    { data: "htmlTemplateName", name: "HTMLTemplateName", responsivePriority: 1, title: '@Localizer["Name"]', searchable: true, className: "text-start" },					
                    {
                        data: null,
                        searchable: false,
                        orderable: false,
                        responsivePriority: 1,
                        width: "10%",
                        className: "fills-text-center",
                        render: function (data, type, row, meta) {
                            var url = '@Url.Page("/Setup/Details", new { area = "HTMLTemplate" })' + '?id=' + row.id;
							var button = '<a href="' + url + '" class="btn btnFills btn-outline-success btnInfoIcon btnViewHTMLTemplate" title="@Localizer["View"]"></a>';
                        @if ((await AuthorizationService.AuthorizeAsync(User, FBSC.HTMLTemplate.HTMLTemplatePermission.HTMLTemplate.Edit)).Succeeded)
						{
							<text>
											url = '@Url.Page("/Setup/Edit", new { area = "HTMLTemplate" })' + '?id=' + row.id;
											button = button + '&nbsp;<a href="' + url + '" class="btn btnFills btn-outline-primary btnEditIcon btnEditHTMLTemplate" title="@Localizer["Edit"]"></a>';
							</text>
						}
                        @if ((await AuthorizationService.AuthorizeAsync(User, FBSC.HTMLTemplate.HTMLTemplatePermission.HTMLTemplate.Delete)).Succeeded)
						{
							<text>
											url = '@Url.Page("/Setup/Delete", new { area = "HTMLTemplate" })' + '?id=' + row.id;
												button = button + '&nbsp;<a href="' + url + '" class="btn btnFills btn-outline-danger btnDeleteIcon btnDeleteHTMLTemplate" title="@Localizer["Delete"]"></a>';
							</text>
						}		
					
							return button;
                        },
                    },
                    { data: "lastModifiedDate", name: "LastModifiedDate", title: '@Localizer["Last Modified Date"]', visible: false, searchable: false },
                    { data: "id", name: "Id", visible: false },
                ],
                buttons: [
        @* Add Button *@
        @if ((await AuthorizationService.AuthorizeAsync(User, FBSC.HTMLTemplate.HTMLTemplatePermission.HTMLTemplate.Create)).Succeeded)
        {
            <text>
                    {
                        text: '<i class="fas fa-plus"></i>',
                        className: 'btn btn-success btnAddHTMLTemplate text-light',
                        titleAttr: '@Localizer["Add"]',
                        action: function (e, dt, node, config) {
                            window.location.href = '@Url.Page("/Setup/Add", new { area = "HTMLTemplate" })';
                        }
                    },
            </text>
        }
        @* Page Length Button *@
            {
                extend: 'pageLength',
                className: 'btn btn-primary',
                titleAttr: '@Localizer["Rows per page"]'
            }
        ],
            });
            var debounce = new $.fn.dataTable.Debounce(table); // Add delay to search

            $('.btn-table_filter').on('click', function (e) {
                table.ajax.reload(null, false);
            });
            function BindTableRowCollapseEvent() {
                $('#hTMLTemplate tbody').on('click', 'td.dtr-control', function () {
                    $.showAjaxLoaderOnClick([".btnAddHTMLTemplate", ".btnEditHTMLTemplate", ".btnViewHTMLTemplate", ".btnDeleteHTMLTemplate"]);
                });
            }
            $.showAjaxLoaderOnClick([".btnAddHTMLTemplate", ".btnEditHTMLTemplate", ".btnViewHTMLTemplate", ".btnDeleteHTMLTemplate"]);
            $.InitializeSearchKeyCookies(table);
            $('#btnBatchUpload').on('change', function (e) {
                $('#batch-upload-form').submit();
            });           
        @if (!string.IsNullOrEmpty(Model.BatchUpload.BatchUploadFileName))
        {
            <text>
                    $('#btnDownloadBatchUploadTemplateLink')[0].click();
            </text>
        }
        });
    </script>
}