@using Models
@model EmployeeViewModel

<div class="row row-cols-1 row-cols-sm-1 row-cols-md-1 row-cols-lg-1 row-cols-xl-1 row-cols-xxl-1">
    <div class="col">
	<div class="mb-3">
		<label asp-for="@Model.Department" class="form-label"><strong>@Localizer["Department"] :</strong></label>
			<input asp-for="@Model.Department" class="form-control"  />
			<span asp-validation-for="@Model.Department" class="text-danger d-block mt-1"></span>
			
	</div>
</div>
<div class="col">
	<div class="mb-3">
		<label asp-for="@Model.Email" class="form-label"><strong>@Localizer["Email"] :</strong></label>
			<input asp-for="@Model.Email" class="form-control" maxlength="255" />
			<span asp-validation-for="@Model.Email" class="text-danger d-block mt-1"></span>
			
	</div>
</div>
<div class="col">
	<div class="mb-3">
		<label asp-for="@Model.EmployeeCode" class="form-label"><strong>@Localizer["Employee Code"] :</strong></label>
			<input asp-for="@Model.EmployeeCode" class="form-control" maxlength="450" />
			<span asp-validation-for="@Model.EmployeeCode" class="text-danger d-block mt-1"></span>
			
	</div>
</div>
<div class="col">
	<div class="mb-3">
		<label asp-for="@Model.Name" class="form-label"><strong>@Localizer["Name"] :</strong></label>
			<input asp-for="@Model.Name" class="form-control" maxlength="255" />
			<span asp-validation-for="@Model.Name" class="text-danger d-block mt-1"></span>
			
	</div>
</div>
<div class="col">
	<div class="mb-3">
		<label asp-for="@Model.Position" class="form-label"><strong>@Localizer["Position"] :</strong></label>
			<input asp-for="@Model.Position" class="form-control"  />
			<span asp-validation-for="@Model.Position" class="text-danger d-block mt-1"></span>
			
	</div>
</div>
<div class="col">
	<div class="mb-3">
		<label asp-for="@Model.UserId" class="form-label"><strong>@Localizer["User Id"] :</strong></label>
			<input asp-for="@Model.UserId" class="form-control" maxlength="36" />
			<span asp-validation-for="@Model.UserId" class="text-danger d-block mt-1"></span>
			
	</div>
</div>

</div>
