@page
@model DetailsModel
@{
    ViewData["Title"] = Localizer["View Employee"];
    ViewData["ActiveMainPage"] = "Employee";
    ViewData["Level1"] = "Admin";
	var breadcrumbs = new[] {
		new { Title = "Employee List", Url = "/ODMS/Employee/Index", IsActive = false },
		new { Title = "View Employee", Url = "", IsActive = true },
	};
}
<partial name="_BreadcrumbPartial" model=@(breadcrumbs) />
<div id="employee-container">
    <input type="hidden" asp-for="@Model.RemoveSubDetailId" />
    <input type="hidden" asp-for="@Model.AsyncAction" />
    <div id="PartialLoaderContainer">
        <partial name="_InputFieldsPartial" model="Model.Employee" />
    </div>
</div>
<div id="toolbar-container" class="btn-group" role="group">
    <a asp-page="Index" class="btn btnFills btn-outline-secondary btnBackIcon" aria-label="@Localizer["Back"]" title="@Localizer["Back"]"></a>
    @if ((await AuthorizationService.AuthorizeAsync(User, Permission.Employee.Create)).Succeeded)
    {
        <a asp-page="Add" id="btnAddRecord" class="btn btnFills btn-outline-success btnAddIcon" aria-label="@Localizer["Add"]" title="@Localizer["Add"]"></a>
    }
    @if ((await AuthorizationService.AuthorizeAsync(User, Permission.Employee.Edit)).Succeeded)
    {
        <a asp-page="Edit" asp-route-id="@Model.Employee.Id" class="btn btnFills btn-outline-primary btnEditIcon" aria-label="@Localizer["Edit"]" title="@Localizer["Edit"]"></a>
    }
    @if ((await AuthorizationService.AuthorizeAsync(User, Permission.Employee.Delete)).Succeeded)
    {
        <a asp-page="Delete" asp-route-id="@Model.Employee.Id" class="btn btnFills btn-outline-danger btnDeleteIcon" aria-label="@Localizer["Delete"]" title="@Localizer["Delete"]"></a>
    }
	@if ((await AuthorizationService.AuthorizeAsync(User, Permission.Employee.History)).Succeeded)
	{
        <a asp-page="History" asp-route-id="@Model.Employee.Id" class="btn btnFills btn-outline-primary btnHistoryIcon" aria-label="@Localizer["History"]" title="@Localizer["History"]"></a>
	}
</div>

@section Scripts {
<partial name="_DisableFieldsPartial" model="@("employee-container")" />
}