@page
@model EditModel
@{
    ViewData["Title"] = Localizer["Edit Dashboard Refresh Job"];
    ViewData["ActiveMainPage"] = "DashboardRefreshJob";
    ViewData["Level1"] = "ODMS";
	var breadcrumbs = new[] {
		new { Title = "Dashboard Refresh Job List", Url = "/ODMS/DashboardRefreshJob/Index", IsActive = false },
		new { Title = "Edit Dashboard Refresh Job", Url = "", IsActive = true },
	};
}
<partial name="_BreadcrumbPartial" model=@(breadcrumbs) />
<form id="dashboardRefreshJob-form" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="@Model.RemoveSubDetailId" />
    <input type="hidden" asp-for="@Model.AsyncAction" />
    <div id="PartialLoaderContainer">
        <partial name="_InputFieldsPartial" model="Model.DashboardRefreshJob" />
    </div>
	<div id="toolbar-container" class="btn-group" role="group">
		<a asp-page="Index" id="btnCancelConfirmationModal" class="btn btnFills btn-outline-secondary btnBackIcon" title="@Localizer["Back"]"></a>
		<button type="button" id="btnConfirmationModal" class="btn btnFills btn-outline-success btnSaveIcon" title="@Localizer["Save changes"]"></button>
		@if ((await AuthorizationService.AuthorizeAsync(User, Permission.DashboardRefreshJob.History)).Succeeded)
		{
			<a asp-page="History" id="btnHistoryConfirmationModal" asp-route-id="@Model.DashboardRefreshJob.Id" class="btn btnFills btn-outline-primary btnHistoryIcon" title="@Localizer["History"]"></a>
		}
    </div>
</form>

@section Scripts {
<partial name="_ValidationScriptsPartial" />

<script asp-add-nonce>
    $(document).ready(function () {
		$.bindSaveConfirmationModal('Update', '#btnConfirmationModal','#dashboardRefreshJob-form');
		$.bindCancelConfirmationModal('Cancel', '#btnCancelConfirmationModal','#dashboardRefreshJob-form', 'Do you want to cancel the changes?');
		$.bindCancelConfirmationModal('History', '#btnHistoryConfirmationModal', '#dashboardRefreshJob-form', 'Do you want to cancel the changes?');
        function InitializeForm()
        {
            $('.DisableSelectDropdown').on('mousedown', function(e) {
                e.preventDefault();
                this.blur();
                window.focus();
            });
            
			$.fn.dashboardquerySelect = function() {
				this.filter("select").each(function() {
					$(this).ajaxSelect({
						ajax: {
							url: '@Url.Page("/Dropdown/Index", new { area = "ODMS", handler = "Select2DashboardQueryData" })',
						}
					});
				});
				return this;
			};
			$("#DashboardQueryId").dashboardquerySelect();


        }
        InitializeForm();
    });
</script>
}