@page
@model IndexModel

@section Styles {
    <partial name="_DataTableStyles" />
}
@{
    ViewData["Title"] = Localizer["Dashboard Refresh Job List"];
    ViewData["ActiveMainPage"] = "DashboardRefreshJob";
    ViewData["Level1"] = "ODMS";
	IEnumerable<dynamic> breadCrumbs = [new { Title = "Dashboard Refresh Job List", Url = "", IsActive = true }];
}
<partial name="_BreadcrumbPartial" model=@(breadCrumbs) />
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <table id="dashboardRefreshJob" class="table table-hover table-bordered table-striped responsive nowrap fills-table" width="100%">
                    <thead>
                        <tr>
                            <th>
								@Localizer["Dashboard Query"]
							</th>
							<th>
								@Localizer["Manual Or Schedule"]
							</th>
							<th>
								@Localizer["Status"]
							</th>
							<th>
								@Localizer["Queued At"]
							</th>
							<th>
								@Localizer["Started At"]
							</th>
							<th>
								@Localizer["Completed At"]
							</th>
							<th>
								@Localizer["Duration In Milliseconds"]
							</th>
							<th>
								@Localizer["Rows Written To Result Cache"]
							</th>
							<th>
								@Localizer["Retry Count"]
							</th>
							<th>
								@Localizer["Max Retries"]
							</th>
							<th>
								@Localizer["Error Remarks"]
							</th>
							  
							
                            <th>
                                @Localizer["Actions"]
                            </th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>


<div id="BatchUploadPartialContainer">
    <partial name="_BatchUpload" model="Model.BatchUpload" />
</div>
@section Scripts {
    <partial name="_DataTableScripts" />
    <script asp-add-nonce>
        $(document).ready(function () {
            var table = $('#dashboardRefreshJob').DataTable({
                select: false,
                serverSide: true,
                responsive: true,
                order: [[11, 'desc']],
                dom: '@Html.Raw(FBSC.ODMS.Web.WebConstants.DataTableDOMLayOut)',
                ajax:
                {
                    url: '@Url.Page("/DashboardRefreshJob/Index", new { area = "ODMS", handler = "ListAll" })',
                    type: "POST",
                    headers: {
                        RequestVerificationToken:
                            $('input:hidden[name="__RequestVerificationToken"]').val()
                    },
                },
                initComplete: function (settings, json) {
                    BindTableRowCollapseEvent();
                },
                columns: [
                    { data: "dashboardQueryId", name: "DashboardQueryId", responsivePriority: 1, title: '@Localizer["Dashboard Query"]', searchable: false, className: "text-start" },
				{ data: "triggerType", name: "TriggerType", responsivePriority: 1, title: '@Localizer["Manual Or Schedule"]', searchable: true, className: "text-start" },
				{ data: "status", name: "Status", responsivePriority: 1, title: '@Localizer["Status"]', searchable: true, className: "text-start" },
				{ data: "queuedAtFormatted", name: "QueuedAt", responsivePriority: 2, title: '@Localizer["Queued At"]', searchable: false, className: "text-start" },
				{ data: "startedAtFormatted", name: "StartedAt", responsivePriority: 2, title: '@Localizer["Started At"]', searchable: false, className: "text-start" },
				{ data: "completedAtFormatted", name: "CompletedAt", responsivePriority: 2, title: '@Localizer["Completed At"]', searchable: false, className: "text-start" },
				{ data: "durationMsFormatted", name: "DurationMs", responsivePriority: 2, title: '@Localizer["Duration In Milliseconds"]', searchable: false, className: "fills-text-end" },
				{ data: "rowsCachedFormatted", name: "RowsCached", responsivePriority: 2, title: '@Localizer["Rows Written To Result Cache"]', searchable: false, className: "fills-text-end" },
				{ data: "retryCountFormatted", name: "RetryCount", responsivePriority: 2, title: '@Localizer["Retry Count"]', searchable: false, className: "fills-text-end" },
				{ data: "maxRetriesFormatted", name: "MaxRetries", responsivePriority: 2, title: '@Localizer["Max Retries"]', searchable: false, className: "fills-text-end" },
				{ data: "errorRemarks", name: "ErrorRemarks", responsivePriority: 2, title: '@Localizer["Error Remarks"]', searchable: false, className: "text-start" },
				   
					
                    {
                        data: null,
                        searchable: false,
                        orderable: false,
                        responsivePriority: 1,
                        width: "10%",
                        className: "fills-text-center",
                        render: function (data, type, row, meta) {
                            var url = '@Url.Page("/DashboardRefreshJob/Details", new { area = "ODMS" })' + '?id=' + row.id;
							var button = '<a href="' + url + '" class="btn btnFills btn-outline-success btnInfoIcon btnViewDashboardRefreshJob" title="@Localizer["View"]"></a>';
						@if ((await AuthorizationService.AuthorizeAsync(User, Permission.DashboardRefreshJob.Edit)).Succeeded)
						{
							<text>
											url = '@Url.Page("/DashboardRefreshJob/Edit", new { area = "ODMS" })' + '?id=' + row.id;
											button = button + '&nbsp;<a href="' + url + '" class="btn btnFills btn-outline-primary btnEditIcon btnEditDashboardRefreshJob" title="@Localizer["Edit"]"></a>';
							</text>
						}
						@if ((await AuthorizationService.AuthorizeAsync(User, Permission.DashboardRefreshJob.Delete)).Succeeded)
						{
							<text>
											url = '@Url.Page("/DashboardRefreshJob/Delete", new { area = "ODMS" })' + '?id=' + row.id;
												button = button + '&nbsp;<a href="' + url + '" class="btn btnFills btn-outline-danger btnDeleteIcon btnDeleteDashboardRefreshJob" title="@Localizer["Delete"]"></a>';
							</text>
						}
						
						@if ((await AuthorizationService.AuthorizeAsync(User, Permission.DashboardRefreshJob.History)).Succeeded)
						{
							<text>
											url = '@Url.Page("/DashboardRefreshJob/History", new { area = "ODMS" })' + '?id=' + row.id;
											button = button + '&nbsp;<a href="' + url + '" class="btn btnFills btn-outline-primary btnHistoryIcon" title="@Localizer["History"]"></a>';
							</text>
						}
							return button;
                        },
                    },
                    { data: "lastModifiedDate", name: "LastModifiedDate", title: '@Localizer["Last Modified Date"]', visible: false, searchable: false },
                    { data: "id", name: "Id", visible: false },
                ],
                buttons: [
        @* Add Button *@
        @if ((await AuthorizationService.AuthorizeAsync(User, Permission.DashboardRefreshJob.Create)).Succeeded)
        {
            <text>
                    {
                        text: '<i class="fas fa-plus"></i>',
                        className: 'btn btn-success btnAddDashboardRefreshJob text-light',
                        titleAttr: '@Localizer["Add"]',
                        action: function (e, dt, node, config) {
                            window.location.href = '@Url.Page("/DashboardRefreshJob/Add", new { area = "ODMS" })';
                        }
                    },
            </text>
        }

        @* Download Template Button *@
        @if ((await AuthorizationService.AuthorizeAsync(User, Permission.DashboardRefreshJob.Upload)).Succeeded)
        {
            <text>
                    {
                        text: '<i class="fas fa-download"></i>',
                        className: 'btn btn-primary',
                        titleAttr: '@Localizer["Download Template"]',
                        action: function (e, dt, node, config) {
                            $('#download-template-form').submit();
                        }
                    },
            </text>
        }

        @* Upload Button *@
        @if ((await AuthorizationService.AuthorizeAsync(User, Permission.DashboardRefreshJob.Upload)).Succeeded)
        {
            <text>
                    {
                        text: '<i class="fas fa-upload"></i>',
                        className: 'btn btn-primary',
                        titleAttr: '@Localizer["Upload"]',
                        action: function (e, dt, node, config) {
                            $('#btnBatchUpload').click();
                        }
                    },
            </text>
        }

        @* Page Length Button *@
            {
                extend: 'pageLength',
                className: 'btn btn-primary',
                titleAttr: '@Localizer["Rows per page"]'
            }
        ],
            });
            var debounce = new $.fn.dataTable.Debounce(table); // Add delay to search

            $('.btn-table_filter').on('click', function (e) {
                table.ajax.reload(null, false);
            });
            function BindTableRowCollapseEvent() {
                $('#dashboardRefreshJob tbody').on('click', 'td.dtr-control', function () {
                    $.showAjaxLoaderOnClick([".btnAddDashboardRefreshJob", ".btnEditDashboardRefreshJob", ".btnViewDashboardRefreshJob", ".btnDeleteDashboardRefreshJob"]);
                });
            }
            $.showAjaxLoaderOnClick([".btnAddDashboardRefreshJob", ".btnEditDashboardRefreshJob", ".btnViewDashboardRefreshJob", ".btnDeleteDashboardRefreshJob"]);
            $.InitializeSearchKeyCookies(table);
            $('#btnBatchUpload').on('change', function (e) {
                $('#batch-upload-form').submit();
            });           
        @if (!string.IsNullOrEmpty(Model.BatchUpload.BatchUploadFileName))
        {
            <text>
                    $('#btnDownloadBatchUploadTemplateLink')[0].click();
            </text>
        }
        });
    </script>
}