@page
@model EditModel
@{
    ViewData["Title"] = Localizer["Edit Dashboard Theme"];
    ViewData["ActiveMainPage"] = "DashboardTheme";
    ViewData["Level1"] = "ODMS";
	var breadcrumbs = new[] {
		new { Title = "Dashboard Theme List", Url = "/ODMS/DashboardTheme/Index", IsActive = false },
		new { Title = "Edit Dashboard Theme", Url = "", IsActive = true },
	};
}
<partial name="_BreadcrumbPartial" model=@(breadcrumbs) />
<form id="dashboardTheme-form" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="@Model.RemoveSubDetailId" />
    <input type="hidden" asp-for="@Model.AsyncAction" />
    <div id="PartialLoaderContainer">
        <partial name="_InputFieldsPartial" model="Model.DashboardTheme" />
    </div>
	<div id="toolbar-container" class="btn-group" role="group">
		<a asp-page="Index" id="btnCancelConfirmationModal" class="btn btnFills btn-outline-secondary btnBackIcon" title="@Localizer["Back"]"></a>
		<button type="button" id="btnConfirmationModal" class="btn btnFills btn-outline-success btnSaveIcon" title="@Localizer["Save changes"]"></button>
		@if ((await AuthorizationService.AuthorizeAsync(User, Permission.DashboardTheme.History)).Succeeded)
		{
			<a asp-page="History" id="btnHistoryConfirmationModal" asp-route-id="@Model.DashboardTheme.Id" class="btn btnFills btn-outline-primary btnHistoryIcon" title="@Localizer["History"]"></a>
		}
    </div>
</form>

@section Scripts {
<partial name="_ValidationScriptsPartial" />

<script asp-add-nonce>
    $(document).ready(function () {
		$.bindSaveConfirmationModal('Update', '#btnConfirmationModal','#dashboardTheme-form');
		$.bindCancelConfirmationModal('Cancel', '#btnCancelConfirmationModal','#dashboardTheme-form', 'Do you want to cancel the changes?');
		$.bindCancelConfirmationModal('History', '#btnHistoryConfirmationModal', '#dashboardTheme-form', 'Do you want to cancel the changes?');
        function InitializeForm()
        {
            $('.DisableSelectDropdown').on('mousedown', function(e) {
                e.preventDefault();
                this.blur();
                window.focus();
            });
            

        }
        InitializeForm();
    });
</script>
}