@using Models
@model IList<ResourcePermissionViewModel>

<table id="permissions" class="table table-hover table-bordered table-striped fills-table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.First().ResourceName)</th>
            <th class="text-center">@Html.DisplayNameFor(model => model.First().View)</th>
            <th class="text-center">@Html.DisplayNameFor(model => model.First().Create)</th>
            <th class="text-center">@Html.DisplayNameFor(model => model.First().Edit)</th>
            <th class="text-center">@Html.DisplayNameFor(model => model.First().Delete)</th>
            <th class="text-center">@Html.DisplayNameFor(model => model.First().Upload)</th>
            <th class="text-center">@Html.DisplayNameFor(model => model.First().History)</th>
            <th class="text-center">@Html.DisplayNameFor(model => model.First().Approve)</th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.Count; i++)
        {
            <tr>
                <td><strong>@Model[i].ResourceName</strong></td>

                <td class="text-center">
                    @if (!string.IsNullOrEmpty(Model[i].ViewPermission))
                    {
                        <input type="checkbox" name="[@i].View" class="form-check-input" value="true" @(Model[i].View ? "checked" : "") />
                        <input type="hidden" asp-for="@Model[i].ViewPermission" />
                    }
                </td>

                <td class="text-center">
                    @if (!string.IsNullOrEmpty(Model[i].CreatePermission))
                    {
                        <input type="checkbox" name="[@i].Create" class="form-check-input" value="true" @(Model[i].Create ? "checked" : "") />
                        <input type="hidden" asp-for="@Model[i].CreatePermission" />
                    }
                </td>

                <td class="text-center">
                    @if (!string.IsNullOrEmpty(Model[i].EditPermission))
                    {
                        <input type="checkbox" name="[@i].Edit" class="form-check-input" value="true" @(Model[i].Edit ? "checked" : "") />
                        <input type="hidden" asp-for="@Model[i].EditPermission" />
                    }
                </td>

                <td class="text-center">
                    @if (!string.IsNullOrEmpty(Model[i].DeletePermission))
                    {
                        <input type="checkbox" name="[@i].Delete" class="form-check-input" value="true" @(Model[i].Delete ? "checked" : "") />
                        <input type="hidden" asp-for="@Model[i].DeletePermission" />
                    }
                </td>

                <td class="text-center">
                    @if (!string.IsNullOrEmpty(Model[i].UploadPermission))
                    {
                        <input type="checkbox" name="[@i].Upload" class="form-check-input" value="true" @(Model[i].Upload ? "checked" : "") />
                        <input type="hidden" asp-for="@Model[i].UploadPermission" />
                    }
                </td>

                <td class="text-center">
                    @if (!string.IsNullOrEmpty(Model[i].HistoryPermission))
                    {
                        <input type="checkbox" name="[@i].History" class="form-check-input" value="true" @(Model[i].History ? "checked" : "") />
                        <input type="hidden" asp-for="@Model[i].HistoryPermission" />
                    }
                </td>

                <td class="text-center">
                    @if (!string.IsNullOrEmpty(Model[i].ApprovePermission))
                    {
                        <input type="checkbox" name="[@i].Approve" class="form-check-input" value="true" @(Model[i].Approve ? "checked" : "") />
                        <input type="hidden" asp-for="@Model[i].ApprovePermission" />
                    }
                </td>
            </tr>
        }
    </tbody>
</table>