@using Models
@model DashboardQueryViewModel
<input type="hidden" id="DashboardWidgetCount" value="@Model?.DashboardWidgetList?.Count" />
<div class="card">
    <h5 class="card-header">
        <span  class="card-header-custom">@Localizer["Dashboard Widget"]</span>
        <a id="btnAddDashboardWidget" class="btn btnMaterial btn-flat primary semicircle cancel btnAddRemoveSubDetailList text-light" title="@Localizer["Add"]"><i class="fas fa-plus"></i></a>
        <button class="cancel d-none" type="button" id="btnRemoveDashboardWidget" value="RemoveDashboardWidget"></button>
    </h5>
    <div class="card-body overflow-auto">
        <table id="subDetailList" class="table table-hover table-striped responsive nowrap fills-table" width="100%">
            <thead>
                <tr>
                    <th class="d-none"></th>
                    <th class="text-center">
								@Localizer["Dashboard"]
							</th>
							<th class="text-center">
								@Localizer["Report Type"]
							</th>
							<th class="text-center">
								@Localizer["Widget Title"]
							</th>
							<th class="text-center">
								@Localizer["Maps To A DashboardQueryResultColumn.ColumnName"]
							</th>
							<th class="text-center">
								@Localizer["Json Array Of Measure Column Names"]
							</th>
							<th class="text-center">
								@Localizer["Optional Grouping/Series Column"]
							</th>
							<th class="text-center">
								@Localizer["Overrides The Result Column`s Default Aggregation"]
							</th>
							<th class="text-center">
								@Localizer["Optional Dashboard Opened On Widget Click"]
							</th>
							<th class="text-center">
								@Localizer["Grid Column Position"]
							</th>
							<th class="text-center">
								@Localizer["Grid Row Position"]
							</th>
							<th class="text-center">
								@Localizer["Grid Width In Columns"]
							</th>
							<th class="text-center">
								@Localizer["Grid Height In Rows"]
							</th>
							<th class="text-center">
								@Localizer["Overrides Dashboard-Level Refresh Interval"]
							</th>
							<th class="text-center">
								@Localizer["Tab/Load Order"]
							</th>
							
                    <th class="text-center">
                        @Localizer["Action"]
                    </th>
                </tr>
            </thead>
            <tbody>
                @if (Model?.DashboardWidgetList != null)
                {
                    int counter = 0;
                    foreach (var item in Model.DashboardWidgetList)
                    {
                        <tr>
                            <td class="d-none">
                                <input type="hidden" name="DashboardWidgetList[@counter].Id" value="@item.Id" />
                                <input type="hidden" name="DashboardWidgetList[@counter].DashboardQueryId" value="@item.DashboardQueryId" />
                            </td>
                            <td>
										<select asp-for="@item.DashboardId" id="DashboardWidgetList_@(counter)_DashboardId" name="DashboardWidgetList[@counter].DashboardId" class="form-control SelectDashboard" asp-items="@(dropdownService.GetDashboardList(item.DashboardId))" >
											<option value="">- Select Dashboard -</option>
										</select>
										<span data-valmsg-for="DashboardWidgetList[@counter].DashboardId" asp-validation-for="@item.DashboardId" class="text-danger"></span>
										
									</td>
									<td>
										<select asp-for="@item.ReportTypeId" id="DashboardWidgetList_@(counter)_ReportTypeId" name="DashboardWidgetList[@counter].ReportTypeId" class="form-control SelectReportType" asp-items="@(dropdownService.GetReportTypeList(item.ReportTypeId))" >
											<option value="">- Select Report Type -</option>
										</select>
										<span data-valmsg-for="DashboardWidgetList[@counter].ReportTypeId" asp-validation-for="@item.ReportTypeId" class="text-danger"></span>
										
									</td>
									<td>
										<input  asp-for="@item.Title" name="DashboardWidgetList[@counter].Title" class="form-control" maxlength="150" />
										<span data-valmsg-for="DashboardWidgetList[@counter].Title" asp-validation-for="@item.Title" class="text-danger"></span>
										
									</td>
									<td>
										<input  asp-for="@item.XAxisColumnName" name="DashboardWidgetList[@counter].XAxisColumnName" class="form-control" maxlength="150" />
										<span data-valmsg-for="DashboardWidgetList[@counter].XAxisColumnName" asp-validation-for="@item.XAxisColumnName" class="text-danger"></span>
										
									</td>
									<td>
										<input  asp-for="@item.YAxisColumnsJson" name="DashboardWidgetList[@counter].YAxisColumnsJson" class="form-control" maxlength="450" />
										<span data-valmsg-for="DashboardWidgetList[@counter].YAxisColumnsJson" asp-validation-for="@item.YAxisColumnsJson" class="text-danger"></span>
										
									</td>
									<td>
										<input  asp-for="@item.SeriesColumnName" name="DashboardWidgetList[@counter].SeriesColumnName" class="form-control" maxlength="150" />
										<span data-valmsg-for="DashboardWidgetList[@counter].SeriesColumnName" asp-validation-for="@item.SeriesColumnName" class="text-danger"></span>
										
									</td>
									<td>
										<input  asp-for="@item.AggregationOverride" name="DashboardWidgetList[@counter].AggregationOverride" class="form-control" maxlength="20" />
										<span data-valmsg-for="DashboardWidgetList[@counter].AggregationOverride" asp-validation-for="@item.AggregationOverride" class="text-danger"></span>
										
									</td>
									<td>
										<select asp-for="@item.DrillDownDashboardId" id="DashboardWidgetList_@(counter)_DrillDownDashboardId" name="DashboardWidgetList[@counter].DrillDownDashboardId" class="form-control SelectDashboard" asp-items="@(dropdownService.GetDashboardList(item.DrillDownDashboardId))" >
											<option value="">- Select Optional Dashboard Opened On Widget Click -</option>
										</select>
										<span data-valmsg-for="DashboardWidgetList[@counter].DrillDownDashboardId" asp-validation-for="@item.DrillDownDashboardId" class="text-danger"></span>
										
									</td>
									<td>
										<input  asp-for="@item.GridPositionX" name="DashboardWidgetList[@counter].GridPositionX" class="form-control"  />
										<span data-valmsg-for="DashboardWidgetList[@counter].GridPositionX" asp-validation-for="@item.GridPositionX" class="text-danger"></span>
										
									</td>
									<td>
										<input  asp-for="@item.GridPositionY" name="DashboardWidgetList[@counter].GridPositionY" class="form-control"  />
										<span data-valmsg-for="DashboardWidgetList[@counter].GridPositionY" asp-validation-for="@item.GridPositionY" class="text-danger"></span>
										
									</td>
									<td>
										<input  asp-for="@item.GridWidth" name="DashboardWidgetList[@counter].GridWidth" class="form-control"  />
										<span data-valmsg-for="DashboardWidgetList[@counter].GridWidth" asp-validation-for="@item.GridWidth" class="text-danger"></span>
										
									</td>
									<td>
										<input  asp-for="@item.GridHeight" name="DashboardWidgetList[@counter].GridHeight" class="form-control"  />
										<span data-valmsg-for="DashboardWidgetList[@counter].GridHeight" asp-validation-for="@item.GridHeight" class="text-danger"></span>
										
									</td>
									<td>
										<input  asp-for="@item.RefreshIntervalOverrideSeconds" name="DashboardWidgetList[@counter].RefreshIntervalOverrideSeconds" class="form-control"  />
										<span data-valmsg-for="DashboardWidgetList[@counter].RefreshIntervalOverrideSeconds" asp-validation-for="@item.RefreshIntervalOverrideSeconds" class="text-danger"></span>
										
									</td>
									<td>
										<input  asp-for="@item.Sequence" name="DashboardWidgetList[@counter].Sequence" class="form-control"  />
										<span data-valmsg-for="DashboardWidgetList[@counter].Sequence" asp-validation-for="@item.Sequence" class="text-danger"></span>
										
									</td>
									
                            <td class="text-center">
                                <a class="btn btnFills btn-outline-danger btnDeleteIcon cancel RemoveDashboardWidgetButton btnAddRemoveSubDetailList" title="@Localizer["Remove DashboardWidget"]" removeId="@(item.Id)"></a>
                            </td>
                        </tr>
                        counter++;
                    }
                }
            </tbody>
        </table>
    </div>
</div>
