@using Models
@model DashboardQueryViewModel
<input type="hidden" id="DashboardRefreshJobCount" value="@Model?.DashboardRefreshJobList?.Count" />
<div class="card">
    <h5 class="card-header">
        <span  class="card-header-custom">@Localizer["Dashboard Refresh Job"]</span>
        <a id="btnAddDashboardRefreshJob" class="btn btnMaterial btn-flat primary semicircle cancel btnAddRemoveSubDetailList text-light" title="@Localizer["Add"]"><i class="fas fa-plus"></i></a>
        <button class="cancel d-none" type="button" id="btnRemoveDashboardRefreshJob" value="RemoveDashboardRefreshJob"></button>
    </h5>
    <div class="card-body overflow-auto">
        <table id="subDetailList" class="table table-hover table-striped responsive nowrap fills-table" width="100%">
            <thead>
                <tr>
                    <th class="d-none"></th>
                    <th class="text-center">
								@Localizer["Manual Or Schedule"]
							</th>
							<th class="text-center">
								@Localizer["Status"]
							</th>
							<th class="text-center">
								@Localizer["Queued At"]
							</th>
							<th class="text-center">
								@Localizer["Started At"]
							</th>
							<th class="text-center">
								@Localizer["Completed At"]
							</th>
							<th class="text-center">
								@Localizer["Duration In Milliseconds"]
							</th>
							<th class="text-center">
								@Localizer["Rows Written To Result Cache"]
							</th>
							<th class="text-center">
								@Localizer["Retry Count"]
							</th>
							<th class="text-center">
								@Localizer["Max Retries"]
							</th>
							<th class="text-center">
								@Localizer["Error Remarks"]
							</th>
							
                    <th class="text-center">
                        @Localizer["Action"]
                    </th>
                </tr>
            </thead>
            <tbody>
                @if (Model?.DashboardRefreshJobList != null)
                {
                    int counter = 0;
                    foreach (var item in Model.DashboardRefreshJobList)
                    {
                        <tr>
                            <td class="d-none">
                                <input type="hidden" name="DashboardRefreshJobList[@counter].Id" value="@item.Id" />
                                <input type="hidden" name="DashboardRefreshJobList[@counter].DashboardQueryId" value="@item.DashboardQueryId" />
                            </td>
                            <td>
										<input  asp-for="@item.TriggerType" name="DashboardRefreshJobList[@counter].TriggerType" class="form-control" maxlength="20" />
										<span data-valmsg-for="DashboardRefreshJobList[@counter].TriggerType" asp-validation-for="@item.TriggerType" class="text-danger"></span>
										
									</td>
									<td>
										<input  asp-for="@item.Status" name="DashboardRefreshJobList[@counter].Status" class="form-control" maxlength="50" />
										<span data-valmsg-for="DashboardRefreshJobList[@counter].Status" asp-validation-for="@item.Status" class="text-danger"></span>
										
									</td>
									<td>
										<input  asp-for="@item.QueuedAt" name="DashboardRefreshJobList[@counter].QueuedAt" class="form-control"  readonly/>
										<span data-valmsg-for="DashboardRefreshJobList[@counter].QueuedAt" asp-validation-for="@item.QueuedAt" class="text-danger"></span>
										<input type="hidden" asp-for="@item.QueuedAt"  name="DashboardRefreshJobList[@counter].QueuedAt"/>
									</td>
									<td>
										<input  asp-for="@item.StartedAt" name="DashboardRefreshJobList[@counter].StartedAt" class="form-control"  readonly/>
										<span data-valmsg-for="DashboardRefreshJobList[@counter].StartedAt" asp-validation-for="@item.StartedAt" class="text-danger"></span>
										<input type="hidden" asp-for="@item.StartedAt"  name="DashboardRefreshJobList[@counter].StartedAt"/>
									</td>
									<td>
										<input  asp-for="@item.CompletedAt" name="DashboardRefreshJobList[@counter].CompletedAt" class="form-control"  readonly/>
										<span data-valmsg-for="DashboardRefreshJobList[@counter].CompletedAt" asp-validation-for="@item.CompletedAt" class="text-danger"></span>
										<input type="hidden" asp-for="@item.CompletedAt"  name="DashboardRefreshJobList[@counter].CompletedAt"/>
									</td>
									<td>
										<input  asp-for="@item.DurationMs" name="DashboardRefreshJobList[@counter].DurationMs" class="form-control"  readonly/>
										<span data-valmsg-for="DashboardRefreshJobList[@counter].DurationMs" asp-validation-for="@item.DurationMs" class="text-danger"></span>
										<input type="hidden" asp-for="@item.DurationMs"  name="DashboardRefreshJobList[@counter].DurationMs"/>
									</td>
									<td>
										<input  asp-for="@item.RowsCached" name="DashboardRefreshJobList[@counter].RowsCached" class="form-control"  readonly/>
										<span data-valmsg-for="DashboardRefreshJobList[@counter].RowsCached" asp-validation-for="@item.RowsCached" class="text-danger"></span>
										<input type="hidden" asp-for="@item.RowsCached"  name="DashboardRefreshJobList[@counter].RowsCached"/>
									</td>
									<td>
										<input  asp-for="@item.RetryCount" name="DashboardRefreshJobList[@counter].RetryCount" class="form-control"  readonly/>
										<span data-valmsg-for="DashboardRefreshJobList[@counter].RetryCount" asp-validation-for="@item.RetryCount" class="text-danger"></span>
										<input type="hidden" asp-for="@item.RetryCount"  name="DashboardRefreshJobList[@counter].RetryCount"/>
									</td>
									<td>
										<input  asp-for="@item.MaxRetries" name="DashboardRefreshJobList[@counter].MaxRetries" class="form-control"  />
										<span data-valmsg-for="DashboardRefreshJobList[@counter].MaxRetries" asp-validation-for="@item.MaxRetries" class="text-danger"></span>
										
									</td>
									<td>
										<input  asp-for="@item.ErrorRemarks" name="DashboardRefreshJobList[@counter].ErrorRemarks" class="form-control" maxlength="450" readonly/>
										<span data-valmsg-for="DashboardRefreshJobList[@counter].ErrorRemarks" asp-validation-for="@item.ErrorRemarks" class="text-danger"></span>
										<input type="hidden" asp-for="@item.ErrorRemarks"  name="DashboardRefreshJobList[@counter].ErrorRemarks"/>
									</td>
									
                            <td class="text-center">
                                <a class="btn btnFills btn-outline-danger btnDeleteIcon cancel RemoveDashboardRefreshJobButton btnAddRemoveSubDetailList" title="@Localizer["Remove DashboardRefreshJob"]" removeId="@(item.Id)"></a>
                            </td>
                        </tr>
                        counter++;
                    }
                }
            </tbody>
        </table>
    </div>
</div>
