@using Models
@model DashboardQueryParameterViewModel

<div class="row row-cols-1 row-cols-sm-1 row-cols-md-1 row-cols-lg-1 row-cols-xl-1 row-cols-xxl-1">
    <div class="col">
	<div class="mb-3">
		<label asp-for="@Model.DashboardQueryId" class="form-label"><strong>@Localizer["Dashboard Query"] :</strong></label>
			<select asp-for="@Model.DashboardQueryId" class="form-control" asp-items="@(dropdownService.GetDashboardQueryList(Model.DashboardQueryId))"><option value="">- Select Dashboard Query -</option></select>
			<span asp-validation-for="@Model.DashboardQueryId" class="text-danger d-block mt-1"></span>
			
	</div>
</div>
<div class="col">
	<div class="mb-3">
		<label asp-for="@Model.ParameterName" class="form-label"><strong>@Localizer["Sql Parameter Placeholder, E.g. @DateFrom"] :</strong></label>
			<input asp-for="@Model.ParameterName" class="form-control" maxlength="100" />
			<span asp-validation-for="@Model.ParameterName" class="text-danger d-block mt-1"></span>
			
	</div>
</div>
<div class="col">
	<div class="mb-3">
		<label asp-for="@Model.DataType" class="form-label"><strong>@Localizer["Parameter Data Type"] :</strong></label>
			<input asp-for="@Model.DataType" class="form-control" maxlength="50" />
			<span asp-validation-for="@Model.DataType" class="text-danger d-block mt-1"></span>
			
	</div>
</div>
<div class="col">
	<div class="mb-3">
		<label asp-for="@Model.ControlType" class="form-label"><strong>@Localizer["Dropdown, DateRange, Text, Or MultiSelect"] :</strong></label>
			<input asp-for="@Model.ControlType" class="form-control" maxlength="50" />
			<span asp-validation-for="@Model.ControlType" class="text-danger d-block mt-1"></span>
			
	</div>
</div>
<div class="col">
	<div class="mb-3">
		<label asp-for="@Model.DefaultValue" class="form-label"><strong>@Localizer["Default Value"] :</strong></label>
			<input asp-for="@Model.DefaultValue" class="form-control" maxlength="450" />
			<span asp-validation-for="@Model.DefaultValue" class="text-danger d-block mt-1"></span>
			
	</div>
</div>
<div class="col">
	<div class="mb-3">
		<label asp-for="@Model.IsRequired" class="form-label"><strong>@Localizer["Is Required"] :</strong></label>
			<input asp-for="@Model.IsRequired" class="custom-checkbox-label"/>
			<span asp-validation-for="@Model.IsRequired" class="text-danger d-block mt-1"></span>
			
	</div>
</div>
<div class="col">
	<div class="mb-3">
		<label asp-for="@Model.LookupSourceQuery" class="form-label"><strong>@Localizer["Optional Sql That Populates This Parameter`s Dropdown Values"] :</strong></label>
			<input asp-for="@Model.LookupSourceQuery" class="form-control"  />
			<span asp-validation-for="@Model.LookupSourceQuery" class="text-danger d-block mt-1"></span>
			
	</div>
</div>
<div class="col">
	<div class="mb-3">
		<label asp-for="@Model.Sequence" class="form-label"><strong>@Localizer["Filter Bar Order"] :</strong></label>
			<input asp-for="@Model.Sequence" class="form-control text-end"  />
			<span asp-validation-for="@Model.Sequence" class="text-danger d-block mt-1"></span>
			
	</div>
</div>

</div>
