@page
@model IndexModel

@section Styles {
    <partial name="_DataTableStyles" />
}
@{
    ViewData["Title"] = Localizer["Dashboard Query Parameter List"];
    ViewData["ActiveMainPage"] = "DashboardQueryParameter";
    ViewData["Level1"] = "ODMS";
	IEnumerable<dynamic> breadCrumbs = [new { Title = "Dashboard Query Parameter List", Url = "", IsActive = true }];
}
<partial name="_BreadcrumbPartial" model=@(breadCrumbs) />
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <table id="dashboardQueryParameter" class="table table-hover table-bordered table-striped responsive nowrap fills-table" width="100%">
                    <thead>
                        <tr>
                            <th>
								@Localizer["Dashboard Query"]
							</th>
							<th>
								@Localizer["Sql Parameter Placeholder, E.g. @DateFrom"]
							</th>
							<th>
								@Localizer["Parameter Data Type"]
							</th>
							<th>
								@Localizer["Dropdown, DateRange, Text, Or MultiSelect"]
							</th>
							<th>
								@Localizer["Default Value"]
							</th>
							<th>
								@Localizer["Is Required"]
							</th>
							<th>
								@Localizer["Filter Bar Order"]
							</th>
							  
							
                            <th>
                                @Localizer["Actions"]
                            </th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>


<div id="BatchUploadPartialContainer">
    <partial name="_BatchUpload" model="Model.BatchUpload" />
</div>
@section Scripts {
    <partial name="_DataTableScripts" />
    <script asp-add-nonce>
        $(document).ready(function () {
            var table = $('#dashboardQueryParameter').DataTable({
                select: false,
                serverSide: true,
                responsive: true,
                order: [[7, 'desc']],
                dom: '@Html.Raw(FBSC.ODMS.Web.WebConstants.DataTableDOMLayOut)',
                ajax:
                {
                    url: '@Url.Page("/DashboardQueryParameter/Index", new { area = "ODMS", handler = "ListAll" })',
                    type: "POST",
                    headers: {
                        RequestVerificationToken:
                            $('input:hidden[name="__RequestVerificationToken"]').val()
                    },
                },
                initComplete: function (settings, json) {
                    BindTableRowCollapseEvent();
                },
                columns: [
                    { data: "dashboardQueryId", name: "DashboardQueryId", responsivePriority: 1, title: '@Localizer["Dashboard Query"]', searchable: false, className: "text-start" },
				{ data: "parameterName", name: "ParameterName", responsivePriority: 1, title: '@Localizer["Sql Parameter Placeholder, E.g. @DateFrom"]', searchable: true, className: "text-start" },
				{ data: "dataType", name: "DataType", responsivePriority: 1, title: '@Localizer["Parameter Data Type"]', searchable: false, className: "text-start" },
				{ data: "controlType", name: "ControlType", responsivePriority: 2, title: '@Localizer["Dropdown, DateRange, Text, Or MultiSelect"]', searchable: false, className: "text-start" },
				{ data: "defaultValue", name: "DefaultValue", responsivePriority: 2, title: '@Localizer["Default Value"]', searchable: false, className: "text-start" },
				{ data: "isRequiredFormatted", name: "IsRequired", responsivePriority: 2, title: '@Localizer["Is Required"]', searchable: false, className: "fills-text-center" },
				{ data: "sequenceFormatted", name: "Sequence", responsivePriority: 2, title: '@Localizer["Filter Bar Order"]', searchable: false, className: "fills-text-end" },
				   
					
                    {
                        data: null,
                        searchable: false,
                        orderable: false,
                        responsivePriority: 1,
                        width: "10%",
                        className: "fills-text-center",
                        render: function (data, type, row, meta) {
                            var url = '@Url.Page("/DashboardQueryParameter/Details", new { area = "ODMS" })' + '?id=' + row.id;
							var button = '<a href="' + url + '" class="btn btnFills btn-outline-success btnInfoIcon btnViewDashboardQueryParameter" title="@Localizer["View"]"></a>';
						@if ((await AuthorizationService.AuthorizeAsync(User, Permission.DashboardQueryParameter.Edit)).Succeeded)
						{
							<text>
											url = '@Url.Page("/DashboardQueryParameter/Edit", new { area = "ODMS" })' + '?id=' + row.id;
											button = button + '&nbsp;<a href="' + url + '" class="btn btnFills btn-outline-primary btnEditIcon btnEditDashboardQueryParameter" title="@Localizer["Edit"]"></a>';
							</text>
						}
						@if ((await AuthorizationService.AuthorizeAsync(User, Permission.DashboardQueryParameter.Delete)).Succeeded)
						{
							<text>
											url = '@Url.Page("/DashboardQueryParameter/Delete", new { area = "ODMS" })' + '?id=' + row.id;
												button = button + '&nbsp;<a href="' + url + '" class="btn btnFills btn-outline-danger btnDeleteIcon btnDeleteDashboardQueryParameter" title="@Localizer["Delete"]"></a>';
							</text>
						}
						
						@if ((await AuthorizationService.AuthorizeAsync(User, Permission.DashboardQueryParameter.History)).Succeeded)
						{
							<text>
											url = '@Url.Page("/DashboardQueryParameter/History", new { area = "ODMS" })' + '?id=' + row.id;
											button = button + '&nbsp;<a href="' + url + '" class="btn btnFills btn-outline-primary btnHistoryIcon" title="@Localizer["History"]"></a>';
							</text>
						}
							return button;
                        },
                    },
                    { data: "lastModifiedDate", name: "LastModifiedDate", title: '@Localizer["Last Modified Date"]', visible: false, searchable: false },
                    { data: "id", name: "Id", visible: false },
                ],
                buttons: [
        @* Add Button *@
        @if ((await AuthorizationService.AuthorizeAsync(User, Permission.DashboardQueryParameter.Create)).Succeeded)
        {
            <text>
                    {
                        text: '<i class="fas fa-plus"></i>',
                        className: 'btn btn-success btnAddDashboardQueryParameter text-light',
                        titleAttr: '@Localizer["Add"]',
                        action: function (e, dt, node, config) {
                            window.location.href = '@Url.Page("/DashboardQueryParameter/Add", new { area = "ODMS" })';
                        }
                    },
            </text>
        }

        @* Download Template Button *@
        @if ((await AuthorizationService.AuthorizeAsync(User, Permission.DashboardQueryParameter.Upload)).Succeeded)
        {
            <text>
                    {
                        text: '<i class="fas fa-download"></i>',
                        className: 'btn btn-primary',
                        titleAttr: '@Localizer["Download Template"]',
                        action: function (e, dt, node, config) {
                            $('#download-template-form').submit();
                        }
                    },
            </text>
        }

        @* Upload Button *@
        @if ((await AuthorizationService.AuthorizeAsync(User, Permission.DashboardQueryParameter.Upload)).Succeeded)
        {
            <text>
                    {
                        text: '<i class="fas fa-upload"></i>',
                        className: 'btn btn-primary',
                        titleAttr: '@Localizer["Upload"]',
                        action: function (e, dt, node, config) {
                            $('#btnBatchUpload').click();
                        }
                    },
            </text>
        }

        @* Page Length Button *@
            {
                extend: 'pageLength',
                className: 'btn btn-primary',
                titleAttr: '@Localizer["Rows per page"]'
            }
        ],
            });
            var debounce = new $.fn.dataTable.Debounce(table); // Add delay to search

            $('.btn-table_filter').on('click', function (e) {
                table.ajax.reload(null, false);
            });
            function BindTableRowCollapseEvent() {
                $('#dashboardQueryParameter tbody').on('click', 'td.dtr-control', function () {
                    $.showAjaxLoaderOnClick([".btnAddDashboardQueryParameter", ".btnEditDashboardQueryParameter", ".btnViewDashboardQueryParameter", ".btnDeleteDashboardQueryParameter"]);
                });
            }
            $.showAjaxLoaderOnClick([".btnAddDashboardQueryParameter", ".btnEditDashboardQueryParameter", ".btnViewDashboardQueryParameter", ".btnDeleteDashboardQueryParameter"]);
            $.InitializeSearchKeyCookies(table);
            $('#btnBatchUpload').on('change', function (e) {
                $('#batch-upload-form').submit();
            });           
        @if (!string.IsNullOrEmpty(Model.BatchUpload.BatchUploadFileName))
        {
            <text>
                    $('#btnDownloadBatchUploadTemplateLink')[0].click();
            </text>
        }
        });
    </script>
}