@page
@model AddModel
@{
    ViewData["Title"] = Localizer["Add Business Unit"];
    ViewData["ActiveMainPage"] = "BusinessUnit";
    ViewData["Level1"] = "Admin";
	var breadcrumbs = new[] {
		new { Title = "Business Unit List", Url = "/ODMS/BusinessUnit/Index", IsActive = false },
		new { Title = "Add Business Unit", Url = "", IsActive = true },
	};
}
<partial name="_BreadcrumbPartial" model=@(breadcrumbs) />
<form id="businessUnit-form" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
	<input type="hidden" asp-for="@Model.RemoveSubDetailId" />
    <input type="hidden" asp-for="@Model.AsyncAction" />
	<div id="PartialLoaderContainer">
        <partial name="_InputFieldsPartial" model="Model.BusinessUnit" />
    </div> 	
	<div id="toolbar-container" class="btn-group" role="group">     
		<a asp-page="Index" id="btnCancelConfirmationModal" class="btn btnFills btn-outline-secondary btnBackIcon" aria-label="@Localizer["Back"]" title="@Localizer["Back"]"></a>
		<button type="button" id="btnConfirmationModal" class="btn btnFills btn-outline-success btnSaveIcon" aria-label="@Localizer["Save changes"]" title="@Localizer["Save changes"]"></button>
	</div>   	
</form>

@section Scripts {
<partial name="_ValidationScriptsPartial" />
<partial name="_TechnologyBusinessPartnerListValidationPartial" model="@Model.BusinessUnit" />

<script asp-add-nonce>
    $(document).ready(function () {
		$.bindSaveConfirmationModal('Save', '#btnConfirmationModal','#businessUnit-form');
		$.bindCancelConfirmationModal('Cancel', '#btnCancelConfirmationModal','#businessUnit-form', 'Do you want to cancel the changes?');
		function InitializeForm()
		{

			$('.DisableSelectDropdown').on('mousedown', function(e) {
				e.preventDefault();
				this.blur();
				window.focus();
			});

			$.InitializeTbpFieldValidations($('#TbpCount').val());

			$.fn.tbpEmployeeSelect = function() {
				this.filter("select").each(function() {
					$(this).ajaxSelect({
						ajax: {
							url: '@Url.Page("/Dropdown/Index", new { area = "ODMS", handler = "Select2EmployeeData" })',
						}
					});
				});
				return this;
			};
			$(".TbpEmployeeSelect").tbpEmployeeSelect();

			$('#btnAddTbp').on('click', function () {
				$('#AsyncAction').val('AddTbp');
				$.triggerPageForm('ChangeFormValue','#PartialLoaderContainer', '#businessUnit-form', InitializeForm, true);
			});

			$('.RemoveTbpButton').on('click', function () {
				$('#RemoveSubDetailId').val($(this).attr('removeid'));
				$('#AsyncAction').val('RemoveTbp');
				$.triggerPageForm('ChangeFormValue','#PartialLoaderContainer', '#businessUnit-form', InitializeForm, true);
			});
		}
		InitializeForm();
    });
</script>
}