@page
@model ViewModel
@{
    ViewData["Title"] = Localizer["View API"];
    ViewData["ActiveMainPage"] = "APIs";
    ViewData["Level1"] = "Admin";
    var breadcrumbs = new[] {
        new { Title = "APIs List", Url = "/Admin/Apis/Index", IsActive = false },
        new { Title = "View API", Url = "", IsActive = true },
    };
}
<partial name="_BreadcrumbPartial" model=@(breadcrumbs) />
<div class="card">
    <h5 class="card-header"><span class="card-header-custom">@Localizer["API Info"]</span><br></h5>
    <div class="card-body">
        <partial name="_ViewApiDetails" model="Model.Scope" />
    </div>
</div>
<div id="toolbar-container" class="btn-group" role="group">
    <a asp-page="Index" class="btn btnFills btn-outline-secondary btnBackIcon" title="@Localizer["Back"]"></a>
    @if ((await AuthorizationService.AuthorizeAsync(User, Permission.Apis.Create)).Succeeded)
    {
        <a asp-page="Add" id="btnAddRecord" class="btn btnFills btn-outline-success btnAddIcon" title="@Localizer["Add"]"></a>
    }
    @if ((await AuthorizationService.AuthorizeAsync(User, Permission.Apis.Edit)).Succeeded)
    {
        <a asp-page="Edit" asp-route-id="@Model.Scope.Name" class="btn btnFills btn-outline-primary btnEditLightIcon" title="@Localizer["Edit"]"></a>
    }
</div>
