@page
@model EditModel
@section Styles {
<partial name="_DataTableStyles" />
}
@{
    ViewData["Title"] = Localizer["Edit User"];
    ViewData["ActiveMainPage"] = "Users";
    ViewData["Level1"] = "Admin";
    var breadcrumbs = new[] {
        new { Title = "Users List", Url = "/Admin/Users/Index", IsActive = false },
        new { Title = "Edit User", Url = "", IsActive = true },
    };
}
<partial name="_BreadcrumbPartial" model=@(breadcrumbs) />
<form id="user-form" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
	<input type="hidden" asp-for="@Model.UserModel!.Id" name="Id" />
    <div id="PartialLoaderContainer">
        <partial name="_InputFieldsPartial" model="Model.UserModel" />
    </div>
    <div id="toolbar-container" class="btn-group" role="group">
        <a asp-page="Index" id="btnCancelConfirmationModal" class="btn btnFills btn-outline-secondary btnBackIcon" aria-label="@Localizer["Back"]" title="@Localizer["Back"]"></a>
        <button type="button" id="btnConfirmationModal" class="btn btnFills btn-outline-success btnSaveIcon" aria-label="@Localizer["Save changes"]" title="@Localizer["Save changes"]"></button>
    </div>
</form>

@section Scripts {
<partial name="_ValidationScriptsPartial" />
<partial name="_DataTableScripts" />
    <script asp-add-nonce>
        $(document).ready(function () {
			$.bindSaveConfirmationModal('Save', '#btnConfirmationModal', '#user-form');
			$.bindCancelConfirmationModal('Cancel', '#btnCancelConfirmationModal', '#user-form', 'Do you want to cancel the changes?');
            function InitializeForm() {
                var roles = $("#roles").DataTable({
                    select: false,
                    searching: true,
                    paging: true,
					dom: '@Html.Raw(FBSC.ODMS.Web.WebConstants.DataTableDOMLayOut)',
                    info: true,
                    buttons: [],
                    columnDefs: [
                        {
                            targets: [1],
                            orderDataType: 'dom-checkbox',
                        }
                    ]
                });
                $('#user-form').onSubmitIncludeAllFieldsFromTable(roles);
                $('.DisableSelectDropdown').on('mousedown', function (e) {
                    e.preventDefault();
                    this.blur();
                    window.focus();
                });

            }
            InitializeForm();
        });

    </script>
}