@page
@model EditModel
@{
    ViewData["Title"] = Localizer["Edit Report Type"];
    ViewData["ActiveMainPage"] = "ReportType";
    ViewData["Level1"] = "ODMS";
	var breadcrumbs = new[] {
		new { Title = "Report Type List", Url = "/ODMS/ReportType/Index", IsActive = false },
		new { Title = "Edit Report Type", Url = "", IsActive = true },
	};
}
<partial name="_BreadcrumbPartial" model=@(breadcrumbs) />
<form id="reportType-form" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="@Model.RemoveSubDetailId" />
    <input type="hidden" asp-for="@Model.AsyncAction" />
    <div id="PartialLoaderContainer">
        <partial name="_InputFieldsPartial" model="Model.ReportType" />
    </div>
	<div id="toolbar-container" class="btn-group" role="group">
		<a asp-page="Index" id="btnCancelConfirmationModal" class="btn btnFills btn-outline-secondary btnBackIcon" title="@Localizer["Back"]"></a>
		<button type="button" id="btnConfirmationModal" class="btn btnFills btn-outline-success btnSaveIcon" title="@Localizer["Save changes"]"></button>
		@if ((await AuthorizationService.AuthorizeAsync(User, Permission.ReportType.History)).Succeeded)
		{
			<a asp-page="History" id="btnHistoryConfirmationModal" asp-route-id="@Model.ReportType.Id" class="btn btnFills btn-outline-primary btnHistoryIcon" title="@Localizer["History"]"></a>
		}
    </div>
</form>

@section Scripts {
<partial name="_ValidationScriptsPartial" />
<partial name="_DashboardWidgetListValidationPartial" model="@Model.ReportType" />

<script asp-add-nonce>
    $(document).ready(function () {
		$.bindSaveConfirmationModal('Update', '#btnConfirmationModal','#reportType-form');
		$.bindCancelConfirmationModal('Cancel', '#btnCancelConfirmationModal','#reportType-form', 'Do you want to cancel the changes?');
		$.bindCancelConfirmationModal('History', '#btnHistoryConfirmationModal', '#reportType-form', 'Do you want to cancel the changes?');
        function InitializeForm()
        {
            $('.DisableSelectDropdown').on('mousedown', function(e) {
                e.preventDefault();
                this.blur();
                window.focus();
            });
            
			$.InitializeDashboardWidgetFieldValidations($('#DashboardWidgetCount').val());
			$('.RemoveDashboardWidgetButton ').on( 'click', function () {
				$('#RemoveSubDetailId').val($(this).attr('removeid'));
				$('#AsyncAction').val('RemoveDashboardWidget');
				$.triggerPageForm('ChangeFormValue','#PartialLoaderContainer', '#reportType-form', InitializeForm, true);
			});

			$('#btnAddDashboardWidget').on( 'click', function () {
				$('#AsyncAction').val('AddDashboardWidget');
				$.triggerPageForm('ChangeFormValue','#PartialLoaderContainer', '#reportType-form', InitializeForm, true);
			});

			$.fn.dashboardSelect = function() {
				this.filter("select").each(function() {
					$(this).ajaxSelect({
						ajax: {
							url: '@Url.Page("/Dropdown/Index", new { area = "ODMS", handler = "Select2DashboardData" })',
						}
					});
				});
				return this;
			};
			var dashboardlistdropdowns = document.getElementsByClassName('SelectDashboard');
			for ( var i=0; i< dashboardlistdropdowns.length; i++) {
				$("#DashboardWidgetList_"+i+"_DrillDownDashboardId").dashboardSelect();
			}

			$.fn.dashboardSelect = function() {
				this.filter("select").each(function() {
					$(this).ajaxSelect({
						ajax: {
							url: '@Url.Page("/Dropdown/Index", new { area = "ODMS", handler = "Select2DashboardData" })',
						}
					});
				});
				return this;
			};
			var dashboardlistdropdowns = document.getElementsByClassName('SelectDashboard');
			for ( var i=0; i< dashboardlistdropdowns.length; i++) {
				$("#DashboardWidgetList_"+i+"_DashboardId").dashboardSelect();
			}

			$.fn.dashboardquerySelect = function() {
				this.filter("select").each(function() {
					$(this).ajaxSelect({
						ajax: {
							url: '@Url.Page("/Dropdown/Index", new { area = "ODMS", handler = "Select2DashboardQueryData" })',
						}
					});
				});
				return this;
			};
			var dashboardquerylistdropdowns = document.getElementsByClassName('SelectDashboardQuery');
			for ( var i=0; i< dashboardquerylistdropdowns.length; i++) {
				$("#DashboardWidgetList_"+i+"_DashboardQueryId").dashboardquerySelect();
			}


        }
        InitializeForm();
    });
</script>
}