@page
@model IndexModel

@section Styles {
    <partial name="_DataTableStyles" />
}
@{
    ViewData["Title"] = Localizer["Report Type List"];
    ViewData["ActiveMainPage"] = "ReportType";
    ViewData["Level1"] = "ODMS";
	IEnumerable<dynamic> breadCrumbs = [new { Title = "Report Type List", Url = "", IsActive = true }];
}
<partial name="_BreadcrumbPartial" model=@(breadCrumbs) />
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <table id="reportType" class="table table-hover table-bordered table-striped responsive nowrap fills-table" width="100%">
                    <thead>
                        <tr>
                            <th>
								@Localizer["Code"]
							</th>
							<th>
								@Localizer["Name"]
							</th>
							<th>
								@Localizer["Underlying Chart.js Type Or Widget Renderer Key"]
							</th>
							<th>
								@Localizer["Minimum Result Columns Needed"]
							</th>
							<th>
								@Localizer["Maximum Result Columns Supported"]
							</th>
							<th>
								@Localizer["Requires X-Axis / Category Column"]
							</th>
							<th>
								@Localizer["Requires Y-Axis / Measure Column"]
							</th>
							<th>
								@Localizer["Requires Series / Grouping Column"]
							</th>
							<th>
								@Localizer["Icon Class For Picker UI"]
							</th>
							<th>
								@Localizer["Is Active"]
							</th>
							  
							<th>
								@Localizer["Status"]
							</th> 
                            <th>
                                @Localizer["Actions"]
                            </th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>


<div id="BatchUploadPartialContainer">
    <partial name="_BatchUpload" model="Model.BatchUpload" />
</div>
@section Scripts {
    <partial name="_DataTableScripts" />
    <script asp-add-nonce>
        $(document).ready(function () {
            var table = $('#reportType').DataTable({
                select: false,
                serverSide: true,
                responsive: true,
                order: [[12, 'desc']],
                dom: '@Html.Raw(FBSC.ODMS.Web.WebConstants.DataTableDOMLayOut)',
                ajax:
                {
                    url: '@Url.Page("/ReportType/Index", new { area = "ODMS", handler = "ListAll" })',
                    type: "POST",
                    headers: {
                        RequestVerificationToken:
                            $('input:hidden[name="__RequestVerificationToken"]').val()
                    },
                },
                initComplete: function (settings, json) {
                    BindTableRowCollapseEvent();
                },
                columns: [
                    { data: "code", name: "Code", responsivePriority: 1, title: '@Localizer["Code"]', searchable: true, className: "text-start" },
				{ data: "name", name: "Name", responsivePriority: 1, title: '@Localizer["Name"]', searchable: true, className: "text-start" },
				{ data: "chartRenderer", name: "ChartRenderer", responsivePriority: 1, title: '@Localizer["Underlying Chart.js Type Or Widget Renderer Key"]', searchable: false, className: "text-start" },
				{ data: "minColumnsRequiredFormatted", name: "MinColumnsRequired", responsivePriority: 2, title: '@Localizer["Minimum Result Columns Needed"]', searchable: false, className: "fills-text-end" },
				{ data: "maxColumnsRequiredFormatted", name: "MaxColumnsRequired", responsivePriority: 2, title: '@Localizer["Maximum Result Columns Supported"]', searchable: false, className: "fills-text-end" },
				{ data: "requiresXAxisFormatted", name: "RequiresXAxis", responsivePriority: 2, title: '@Localizer["Requires X-Axis / Category Column"]', searchable: false, className: "fills-text-center" },
				{ data: "requiresYAxisFormatted", name: "RequiresYAxis", responsivePriority: 2, title: '@Localizer["Requires Y-Axis / Measure Column"]', searchable: false, className: "fills-text-center" },
				{ data: "requiresSeriesGroupingFormatted", name: "RequiresSeriesGrouping", responsivePriority: 2, title: '@Localizer["Requires Series / Grouping Column"]', searchable: false, className: "fills-text-center" },
				{ data: "iconClass", name: "IconClass", responsivePriority: 2, title: '@Localizer["Icon Class For Picker UI"]', searchable: false, className: "text-start" },
				{ data: "isActiveFormatted", name: "IsActive", responsivePriority: 2, title: '@Localizer["Is Active"]', searchable: false, className: "fills-text-center" },
				   
					{ data: "statusBadge", name: "StatusBadge", responsivePriority: 1, title: '@Localizer["Approval Status"]', searchable: false, orderable: false, className: "fills-text-center" },
                    {
                        data: null,
                        searchable: false,
                        orderable: false,
                        responsivePriority: 1,
                        width: "10%",
                        className: "fills-text-center",
                        render: function (data, type, row, meta) {
                            var url = '@Url.Page("/ReportType/Details", new { area = "ODMS" })' + '?id=' + row.id;
							var button = '<a href="' + url + '" class="btn btnFills btn-outline-success btnInfoIcon btnViewReportType" title="@Localizer["View"]"></a>';
						@if ((await AuthorizationService.AuthorizeAsync(User, Permission.ReportType.Edit)).Succeeded)
						{
							<text>
											url = '@Url.Page("/ReportType/Edit", new { area = "ODMS" })' + '?id=' + row.id;
											button = button + '&nbsp;<a href="' + url + '" class="btn btnFills btn-outline-primary btnEditIcon btnEditReportType" title="@Localizer["Edit"]"></a>';
							</text>
						}
						@if ((await AuthorizationService.AuthorizeAsync(User, Permission.ReportType.Delete)).Succeeded)
						{
							<text>
											url = '@Url.Page("/ReportType/Delete", new { area = "ODMS" })' + '?id=' + row.id;
												button = button + '&nbsp;<a href="' + url + '" class="btn btnFills btn-outline-danger btnDeleteIcon btnDeleteReportType" title="@Localizer["Delete"]"></a>';
							</text>
						}
						@if ((await AuthorizationService.AuthorizeAsync(User, Permission.ReportType.Approve)).Succeeded)
				{
					<text>
						url = '@Url.Page("/ReportType/Approve", new { area = "ODMS" })' + '?id=' + row.id;
						button =  button + '&nbsp;<a href="' + url + '" class="btn btnFills btn-outline-success btnApproveIcon" title="@Localizer["Approve"]"></a>';
					</text>
				}
						@if ((await AuthorizationService.AuthorizeAsync(User, Permission.ReportType.History)).Succeeded)
						{
							<text>
											url = '@Url.Page("/ReportType/History", new { area = "ODMS" })' + '?id=' + row.id;
											button = button + '&nbsp;<a href="' + url + '" class="btn btnFills btn-outline-primary btnHistoryIcon" title="@Localizer["History"]"></a>';
							</text>
						}
							return button;
                        },
                    },
                    { data: "lastModifiedDate", name: "LastModifiedDate", title: '@Localizer["Last Modified Date"]', visible: false, searchable: false },
                    { data: "id", name: "Id", visible: false },
                ],
                buttons: [
        @* Add Button *@
        @if ((await AuthorizationService.AuthorizeAsync(User, Permission.ReportType.Create)).Succeeded)
        {
            <text>
                    {
                        text: '<i class="fas fa-plus"></i>',
                        className: 'btn btn-success btnAddReportType text-light',
                        titleAttr: '@Localizer["Add"]',
                        action: function (e, dt, node, config) {
                            window.location.href = '@Url.Page("/ReportType/Add", new { area = "ODMS" })';
                        }
                    },
            </text>
        }

        @* Download Template Button *@
        @if ((await AuthorizationService.AuthorizeAsync(User, Permission.ReportType.Upload)).Succeeded)
        {
            <text>
                    {
                        text: '<i class="fas fa-download"></i>',
                        className: 'btn btn-primary',
                        titleAttr: '@Localizer["Download Template"]',
                        action: function (e, dt, node, config) {
                            $('#download-template-form').submit();
                        }
                    },
            </text>
        }

        @* Upload Button *@
        @if ((await AuthorizationService.AuthorizeAsync(User, Permission.ReportType.Upload)).Succeeded)
        {
            <text>
                    {
                        text: '<i class="fas fa-upload"></i>',
                        className: 'btn btn-primary',
                        titleAttr: '@Localizer["Upload"]',
                        action: function (e, dt, node, config) {
                            $('#btnBatchUpload').click();
                        }
                    },
            </text>
        }

        @* Page Length Button *@
            {
                extend: 'pageLength',
                className: 'btn btn-primary',
                titleAttr: '@Localizer["Rows per page"]'
            }
        ],
            });
            var debounce = new $.fn.dataTable.Debounce(table); // Add delay to search

            $('.btn-table_filter').on('click', function (e) {
                table.ajax.reload(null, false);
            });
            function BindTableRowCollapseEvent() {
                $('#reportType tbody').on('click', 'td.dtr-control', function () {
                    $.showAjaxLoaderOnClick([".btnAddReportType", ".btnEditReportType", ".btnViewReportType", ".btnDeleteReportType"]);
                });
            }
            $.showAjaxLoaderOnClick([".btnAddReportType", ".btnEditReportType", ".btnViewReportType", ".btnDeleteReportType"]);
            $.InitializeSearchKeyCookies(table);
            $('#btnBatchUpload').on('change', function (e) {
                $('#batch-upload-form').submit();
            });           
        @if (!string.IsNullOrEmpty(Model.BatchUpload.BatchUploadFileName))
        {
            <text>
                    $('#btnDownloadBatchUploadTemplateLink')[0].click();
            </text>
        }
        });
    </script>
}