@using Models
@model DashboardAccessViewModel

<div class="row row-cols-1 row-cols-sm-1 row-cols-md-1 row-cols-lg-1 row-cols-xl-1 row-cols-xxl-1">
    <div class="col">
	<div class="mb-3">
		<label asp-for="@Model.DashboardId" class="form-label"><strong>@Localizer["Dashboard"] :</strong></label>
			<select asp-for="@Model.DashboardId" class="form-control" asp-items="@(dropdownService.GetDashboardList(Model.DashboardId))"><option value="">- Select Dashboard -</option></select>
			<span asp-validation-for="@Model.DashboardId" class="text-danger d-block mt-1"></span>
			
	</div>
</div>
<div class="col">
	<div class="mb-3">
		<label asp-for="@Model.GranteeType" class="form-label"><strong>@Localizer["User Or Role"] :</strong></label>
			<input asp-for="@Model.GranteeType" class="form-control" maxlength="20" />
			<span asp-validation-for="@Model.GranteeType" class="text-danger d-block mt-1"></span>
			
	</div>
</div>
<div class="col">
	<div class="mb-3">
		<label asp-for="@Model.GranteeId" class="form-label"><strong>@Localizer["User Or Role Identifier"] :</strong></label>
			<input asp-for="@Model.GranteeId" class="form-control" maxlength="100" />
			<span asp-validation-for="@Model.GranteeId" class="text-danger d-block mt-1"></span>
			
	</div>
</div>
<div class="col">
	<div class="mb-3">
		<label asp-for="@Model.AccessLevel" class="form-label"><strong>@Localizer["View, Edit, Or Owner"] :</strong></label>
			<input asp-for="@Model.AccessLevel" class="form-control" maxlength="20" />
			<span asp-validation-for="@Model.AccessLevel" class="text-danger d-block mt-1"></span>
			
	</div>
</div>
<div class="col">
	<div class="mb-3">
		<label asp-for="@Model.GrantedAt" class="form-label"><strong>@Localizer["Granted At"] :</strong></label>
			<input asp-for="@Model.GrantedAt" class="form-control"   readonly/>
			<span asp-validation-for="@Model.GrantedAt" class="text-danger d-block mt-1"></span>
			
	</div>
</div>

</div>
