@page
@model DetailsModel
@{
    ViewData["Title"] = Localizer["View Approval Setup"];
    ViewData["ActiveMainPage"] = "Approval";
    ViewData["Level1"] = "Admin";
    var breadcrumbs = new[] {
        new { Title = "Approval Setup List", Url = "/ODMS/ApproverSetup", IsActive = false },
        new { Title = "View Approval Setup", Url = "", IsActive = true },
    };
}
<partial name="_BreadcrumbPartial" model=@(breadcrumbs) />
<partial name="_RichTextEditorStyles" />
<div class="container-fluid" id="approverSetup-container">
    <input type="hidden" asp-for="@Model.RemoveSubDetailId" />
    <input type="hidden" asp-for="@Model.AsyncAction" />
	<div id="PartialLoaderContainer">
        <partial name="_InputFieldsPartial" model="Model.ApproverSetup" />
    </div> 
</div>
<div id="toolbar-container" class="btn-group" role="group">
    <a asp-page="Index" class="btn btnFills btn-outline-secondary btnBackIcon" title="@Localizer["Back"]"></a>
    @if ((await AuthorizationService.AuthorizeAsync(User, Permission.ApproverSetup.Create)).Succeeded)
    {
        <a asp-page="Add" id="btnAddRecord" class="btn btnFills btn-outline-success btnAddIcon" title="@Localizer["Add"]"></a>
    }
    @if ((await AuthorizationService.AuthorizeAsync(User, Permission.ApproverSetup.Edit)).Succeeded)
    {
        <a asp-page="Edit" asp-route-id="@Model.ApproverSetup.Id" class="btn btnFills btn-outline-primary btnEditLightIcon" title="@Localizer["Edit"]"></a>
    }   
</div>

@section Scripts {
    <partial name="_RichTextEditorScripts" />
	<partial name="_DisableFieldsPartial" model="@("approverSetup-container")" />
	<script asp-add-nonce>
        $(document).ready(function () {
            $('#EmailBody').richText();
        });
    </script>
}